#userManageWrap {
    #countWrap {
        @media screen and (min-width: 601px) {
            select-box {
                position: absolute;
                top: 16px;
                right: 24px;
                height: 34px;

                select.select {
                    font-size: 12px;
                }
            }
        }
    }

    #rowsWrap {
        @media screen and (min-width: 601px) {
            div.list-wrap {
                list-header {
                    ul {
                        li {
                            width: 14.2857%;
                        }
                    }
                }

                ul.list-content {
                    li {
                        cursor: pointer;
                        & > div {
                            width: 14.2857%;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 600px) {
            div.list-wrap {
                ul.list-content {
                    li {
                        div {
                            float: none;
                        }
                        div:first-of-type {
                            display: inline-block;
                            padding: 4px 16px;
                            background-color: $mobile-id-bg-color;
                            color: $mobile-id-color;
                            border-radius: 50px;
                            margin-bottom: 8px;
                        }
                        div:nth-of-type(2) {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 8px;
                        }

                        div:nth-of-type(3), div:nth-of-type(4), div:nth-of-type(5) {
                            margin-bottom: 6px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}