#userManageWrap {
  #optionWrap {
    @media screen and (min-width: 601px) {
      ul {
        li {
          margin-top: 0;
        }
      }
    }
    @media screen and (max-width: 600px) {
      ul {
        li {
          search-input {
            height: 40px;
            select-box {
              height: 38px;
              select.select {
                font-size: 14px;
              }
            }
            hr {
              height: 28px;
            }
            input.search {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}