// path
$assets-path: '/pages/analytics/assets/';
$stylesheets-path: #{$assets-path}#{'stylesheets/'};
$image-path: #{$assets-path}#{'images/'};


// color
$dark-orange: #EF4C20;
$orange: #F8722E;
$light-orange: #FF952C;

$light-white: #F8F8F8;
$light-grey: #DDDDDD;
$grey: #7C7C7C;
$dark-grey: #404040;
$light-black: #1E1E1E;

$mobile-id-bg-color: #EDEDED;
$mobile-id-color: #717171;


// z-index
$z-index-dialog: 9999;
$z-index-header: 10;
$z-index-navigation: 9;
$z-index-sub-header-pc: 0;
$z-index-sub-header-mobile: 8;
$z-index-receiver-group-manage-button-mobile: 10;
$z-index-receiver-group-manage-button-mobile: 10;
$z-index-message-manage-button-mobile: 10;
$z-index-default-modal: 20;
$z-index-submit-receiver-group-button-mobile: 21;
$z-index-register-receiver-group-button-mobile: 21;
$z-index-submit-receiver-group: 30;
$z-index-update-receiver-group: 30;
$z-index-register-receiver-group: 30;
$z-index-send-manage-button-mobile: 10;
$z-index-go-to-chart-button-mobile: 10;
$z-index-function-button-mobile: 10;

@media screen and (min-width: 991px) {

}
@media screen and (min-width: 601px) and (max-width: 990px) {

}
@media screen and (max-width: 600px) {

}