@import "constant";
@import "mixin";

$box-sizing-path: #{$stylesheets-path}#{'boxsizing.htc'};

* {
  box-sizing: border-box;
  *behavior: url($box-sizing-path);
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-family: 'NanumGothic' !important;
  background-color: rgb(246, 246, 246);
  &.prevent-scroll {
    overflow-y: hidden;
    -webkit-overflow-scrolling: initial;
  }
  @media screen and (min-width: 991px) {
    padding-top: 40px;
    padding-left: 186px;
  }
  @media screen and (min-width: 601px) and (max-width: 990px) {
    padding-top: 40px;
  }
  @media screen and (max-width: 600px) {

  }
}

#mainContentsWrap {
  @media screen and (min-width: 991px) {
    padding: 124px 24px 24px 24px;
    max-width: 756px;
  }
  @media screen and (min-width: 601px) and (max-width: 990px) {
    padding: 144px 24px 24px 24px;
  }
  @media screen and (max-width: 600px) {
    padding-top: 168px;
    padding-bottom: 50px;
  }
  #mainContents {
    z-index: 1;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
}

button {
  border: 0;
  border-radius: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-family: 'NanumGothic' !important;
  background-color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

$placeholder-color: $light-grey;

:-ms-input-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

::-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

:-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

.vertical-align-wrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 600px) {
    &.mobile-full {
      display: block;
      .vertical-align {
        display: block;
        vertical-align: initial;
      }
    }
  }
  .vertical-align {
    display: table-cell;
    vertical-align: middle;
  }
}

@import "animations";
@import "components";
@import "contents";
@import "layouts";
@import "modals";
@import "override";