._720kb-datepicker-calendar {
    &.position-right {
        right: 0;
    }
}


._720kb-datepicker-calendar-header:nth-child(odd) {
    background-color: $orange !important;
}

._720kb-datepicker-calendar-header:nth-child(even) {
    border-left: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    background-color: white !important;
}

._720kb-datepicker-calendar-days-header {
    background-color: $light-orange !important;
}

._720kb-datepicker-calendar-day:hover {
    background-color: rgba($light-orange, .3) !important;
}

._720kb-datepicker-calendar-day._720kb-datepicker-active {
    background-color: $light-orange !important;
}

._720kb-datepicker-calendar-header a:hover {
    background-color: rgba($light-orange, .3) !important;
}

._720kb-datepicker-calendar-years-pagination a._720kb-datepicker-active {
    background-color: $light-orange !important;
}