<article id="sendManageWrap" data-ng-controller="SendManageCtrl">
    <div id="insertPart">
        <div class="section-card margin-top-0" data-ng-include="templatePath + 'insert-part.html'"></div>
    </div>
    <div id="previewButtonPart">
        <div id="previewPart" data-ng-include="templatePath + 'preview-part.html'"></div>
        <div id="buttonPart" data-ng-include="templatePath + 'button-part.html'"></div>
    </div>
</article>