<div class="input-wrap">
    <label class="label">메시지 이름</label>
    <div class="input-box">
        <input type="text" class="data" data-ng-class="{'full': form.title}" data-ng-model="form.title">
    </div>
</div>
<div class="input-wrap">
    <label class="label">발송 제목</label>
    <check-box class="box" ng-model="form.isAd" ng-text="{{ '(광고)' }}"></check-box>
    <div class="input-box">
        <input type="text" class="data" data-ng-class="{'full': form.title2}" data-ng-model="form.title2">
    </div>
</div>
<div class="input-wrap">
    <label class="label">URL</label>
    <form data-ng-submit="insertUrl()">
        <input type="text" class="data" data-ng-class="{'full': form.url}" data-ng-model="form.url" placeholder="{{ 'URL 입력' }}">
        <button type="submit" class="line">URL 삽입</button>
    </form>
</div>
<div class="input-wrap">
    <label class="label">내용 (URL: {{ sizeUrl }} bytes) <span class="right"><span data-ng-class="{'lms': bytes >= 90}">{{ bytes | number }}</span> / 90 bytes</span></label>
    <textarea id="message" class="data" rows="10"
              data-ng-class="{'full': form.message}"
              data-ng-model="form.message"
              data-ng-click="setPosition()"
              placeholder="{{ '내용 입력' }}"
              data-ng-trim="false"></textarea>
</div>
<div class="input-wrap">
    <label class="label">수신 거부 <check-box class="toggle" ng-model="form.isRefuse"></check-box></label>
    <textarea class="data" rows="3"
              data-ng-class="{'full': form.refuseMessage}"
              data-ng-model="form.refuseMessage"
              placeholder="{{ '수신거부 메세지' }}"
              data-ng-disabled="!form.isRefuse"></textarea>
</div>
<div class="input-wrap">
    <label class="label">수신자 그룹 선택</label>
    <select-box ng-model="form.groupId"
                ng-enum="receiverGroups.rows"
                ng-value-key="id"
                ng-text-key="name"
                ng-placeholder="{{ '그룹명' }}"></select-box>
</div>
<div class="input-wrap" data-ng-if="selectedReceiverGroups.length">
    <label class="label">선택된 수신자 그룹</label>
    <div class="tag-wrap">
        <ul>
            <li data-ng-repeat="item in selectedReceiverGroups" data-ng-click="removeItem($index)">
                {{ item.name }}
                <button type="button"></button>
            </li>
        </ul>
    </div>
</div>
<div class="input-wrap">
    <label class="label">페이지 추가</label>
    <ul class="page-wrap">
        <li data-ng-repeat="button in pageButtons track by $index">
            <div class="input-box">
                <span>No. {{$index + 1}}</span>
                <input type="text" class="data" data-ng-class="{'full': button.title}" data-ng-model="button.title" placeholder="페이지명">
            </div>
            <button class="list" data-ng-click="removePageButton(button, $index);">삭제</button>
        </li>
    </ul>
    <div class="page-add-btn-wrap">
        <button type="button" class="orange" data-ng-click="addPageButton();">추가</button>
    </div>
</div>