#calculationDashboardWrap {
    position: relative;
    @media screen and (min-width: 601px) {
        @include after-clear();
        div.count-wrap {
            padding-right: 24px;
            width: 33.333%;
            float: left;

            p {
                margin-top: 24px;
                font-size: 20px;
                font-weight: bold;
                color: $dark-orange;
                text-align: right;
            }
        }
    }
    @media screen and (max-width: 600px) {
        div.count-wrap {
            margin-top: 16px;
            border-bottom: 1px solid $light-grey;
            padding: 16px;

            &:nth-of-type(1) {
                margin-top: 0;
            }

            &:last-of-type {
                border-bottom: 0;
                padding-bottom: 0;
            }

            p {
                margin-top: 8px;
                font-size: 20px;
                font-weight: bold;
                color: $dark-orange;
                text-align: right;
            }
        }
    }
}