#calculationPaymentWrap {
    #rowsWrap {
        @media screen and (min-width: 601px) {
            div.list-wrap {
                list-header {
                    ul {
                        li {
                            width: 33.3333%;
                        }
                    }
                }

                ul.list-content {
                    li {
                        cursor: pointer;

                        & > div {
                            width: 33.3333%;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 600px) {
            div.list-wrap {
                ul.list-content {
                    li {
                        div {
                            float: none;
                        }
                        div:first-of-type {
                            display: inline-block;
                            padding: 4px 16px;
                            background-color: $mobile-id-bg-color;
                            color: $mobile-id-color;
                            border-radius: 50px;
                            margin-bottom: 16px;
                            margin-right: 8px;
                        }
                        div:nth-of-type(2) {
                            display: inline-block;
                            padding: 4px 16px;
                            border-radius: 50px;
                            background-color: $orange;
                            color: #fff;
                        }
                        div:nth-of-type(3) {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 12px;
                        }

                        div:nth-of-type(4), div:nth-of-type(5),
                        div:nth-of-type(7), div:nth-of-type(8) {
                            margin-bottom: 6px;
                            font-size: 14px;
                        }
                    }

                    .mobile-btn-wrap {
                        ul {
                            li {
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}