#calculationResultWrap {
    .tab-menu-wrap {
        ul {
            position: relative;
            border-bottom: 1px solid $light-grey;
            height: 40px;
            @include after-clear();

            li {
                position: relative;
                margin-right: 24px;
                border-bottom: 2px solid white;
                height: 100%;
                line-height: 39px;
                font-size: 14px;
                font-weight: bold;
                color: $dark-grey;
                cursor: pointer;
                float: left;

                &:last-of-type {
                    margin-right: 0;
                }

                &.active {
                    border-color: $dark-orange;
                    color: $dark-orange;
                }
            }
            @media screen and (max-width: 600px) {
                padding: 0 16px;
            }
        }
    }

    .tab-content-container {

        .tab-content-wrap {
            position: relative;

            #countWrap {
                @media screen and (min-width: 601px) {
                    select-box {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 80px;
                        height: 34px;

                        select.select {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        @import "sent-message";
        @import "payment";

        @media screen and (min-width: 601px) {
            padding: 24px 0;
        }
        @media screen and (max-width: 600px) {
            //padding: 16px;
        }
    }
}