$page-path: #{$image-path}#{'button/'};

$ic-detail-path: #{$page-path}#{'detail.png'};

button.line {
    border: 1px solid rgba(124, 124, 124, 0.7);
    border-radius: 2px;
    color: $grey;
    background-color: white;
    -webkit-transition: border-color .1s, color .1s, background-color .1s;
    -moz-transition: border-color .1s, color .1s, background-color .1s;
    -ms-transition: border-color .1s, color .1s, background-color .1s;
    -o-transition: border-color .1s, color .1s, background-color .1s;
    transition: border-color .1s, color .1s, background-color .1s;
    @media screen and (min-width: 769px) {
        &:hover {
            border-color: $dark-grey;
            color: white;
            background-color: $dark-grey;
        }
    }
    @media screen and (max-width: 768px) {
        &:active {
            border-color: $dark-grey;
            color: white;
            background-color: $dark-grey;
        }
    }
}

button.orange {
    border-radius: 2px;
    color: white;
    background-color: $orange;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
    @media screen and (min-width: 769px) {
        &:hover {
            background-color: $dark-orange;
        }
    }
    @media screen and (max-width: 768px) {
        &:active {
            background-color: $dark-orange;
        }
    }
}

button.grey {
    border-radius: 2px;
    color: white;
    background-color: #BFBFBF;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
    @media screen and (min-width: 769px) {
        &:hover {
            background-color: $grey;
        }
    }
    @media screen and (max-width: 768px) {
        &:active {
            background-color: $grey;
        }
    }
}

button.list {
    border: 1px solid $dark-orange;
    color: $dark-orange;
    -webkit-transition: background-color .1s, color .1s;
    -moz-transition: background-color .1s, color .1s;
    -ms-transition: background-color .1s, color .1s;
    -o-transition: background-color .1s, color .1s;
    transition: background-color .1s, color .1s;
    @media screen and (min-width: 769px) {
        &:hover {
            color: white;
            background-color: $dark-orange;
        }
    }
    @media screen and (max-width: 768px) {
        &:active {
            color: white;
            background-color: $dark-orange;
        }
    }
}

button.detail {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 14px;
    @include background();
    background-image: url($ic-detail-path);
    z-index: 1;
    @media screen and (max-width: 600px) {
        //display: none;
    }
}

button.open {
    position: relative;
    border-top: 1px solid $light-grey;
    width: 100%;
    height: 40px;
    line-height: 39px;
    color: #BFBFBF;

}