div.select-wrap {
    position: relative;
    margin-top: 24px;

    select-box {
        width: 100%;
    }
}


div.rows-wrap {
    @media screen and (min-width: 601px) {
        margin-top: 16px;
        ul.list-content {
            li {
                & > div {
                    span.key {
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
        // todo mobile list
        ul.list-content {
            margin-top: 24px;
            border-top: 1px solid #eee;
            li {
                font-size: 0;
                padding: 8px 16px;
                border-bottom: 1px solid #eee;
                &:nth-of-type(even) {
                    background-color: #fff;
                }
                div {
                    position: relative;
                    font-size: 14px;
                    padding: 8px 0;
                }
                span {
                    display: inline-block;
                    &.key {
                        position: absolute;
                        top: 8px;
                        left: 0;
                        font-weight: bold;
                    }
                    &.val {
                        width: 100%;
                        padding-left: 128px;
                    }
                }
            }
        }
    }
}