div.chart-wrap {
    position: relative;
    @media screen and (min-width: 601px) {
        //padding: 16px 24px;
        button.detail {
            top: 16px;
            right: 24px;
        }
    }
    @media screen and (max-width: 600px) {
        //padding: 16px;
    }
}

h4.chart-title {
    margin: 0;
    color: $dark-grey;
    @media screen and (min-width: 601px) {
        font-size: 14px;
    }
    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}

div.diagram-wrap {
    @media screen and (min-width: 601px) {
        margin-top: 40px;
        &.margin-top-24 {
            margin-top: 24px;
        }
    }
    @media screen and (max-width: 600px) {
        margin-top: 12px;
    }
}