$page-path: #{$image-path}#{'check-box/'};

$ic-check-true-path: #{$page-path}#{'check-true.png'};
$ic-check-false-path: #{$page-path}#{'check-false.png'};
$ic-check-path: #{$page-path}#{'check.png'};

check-box {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  font-weight: bold;
  &.box {
    div.check-box-wrap {
      background: initial !important;
      &.active {
        i {
          border-color: $dark-orange;
          background-color: $dark-orange;
          background-image: url($ic-check-path);
        }
      }
      i {
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        margin-top: -9px;
        border: 1px solid $light-grey;
        border-radius: 2px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: 10px 8px;
        background-position: center;
        background-image: none;
        background-color: white;
        -webkit-transition: background-color .1s, border-color .1s;
        -moz-transition: background-color .1s, border-color .1s;
        -ms-transition: background-color .1s, border-color .1s;
        -o-transition: background-color .1s, border-color .1s;
        transition: background-color .1s, border-color .1s;
      }
      span {
        padding-left: 26px;
        color: $dark-grey !important;
      }
    }
  }
  &.toggle {
    width: 36px;
    height: 20px;
    overflow: visible;
    div.check-box-wrap {
      position: absolute;
      display: block;
      top: 4px;
      left: 0;
      border-radius: 6px;
      width: 36px;
      height: 12px;
      background-image: none !important;
      background-color: $light-grey;
      overflow: visible;
      -webkit-transition: background-color .2s;
      -moz-transition: background-color .2s;
      -ms-transition: background-color .2s;
      -o-transition: background-color .2s;
      transition: background-color .2s;
      &.active {
        background-color: $dark-orange;
        i {
          -webkit-transform: translate3d(16px, 0, 0);
          -moz-transform: translate3d(16px, 0, 0);
          -ms-transform: translate3d(16px, 0, 0);
          -o-transform: translate3d(16px, 0, 0);
          transform: translate3d(16px, 0, 0);
        }
      }
      i {
        position: absolute;
        display: block;
        top: -4px;
        left: 0;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        -webkit-transition: transform .2s;
        -moz-transition: transform .2s;
        -ms-transition: transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
      }
    }
  }
  div.check-box-wrap {
    position: relative;
    background-repeat: no-repeat;
    background-size: 10px 9px;
    background-position: 0 center;
    background-image: url($ic-check-false-path);
    cursor: pointer;
    &.active {
      background-image: url($ic-check-true-path);
      span {
        color: $dark-orange;
      }
    }
    i {
      display: none;
    }
    span {
      display: block;
      padding-left: 14px;
      height: 100%;
      color: #BFBFBF;
    }
  }
}