$page-path: #{$image-path}#{'file/'};

$ic-file-path: #{$page-path}#{'file.png'};

div.file-drop-wrap {
  position: relative;
  border: 2px dashed #D6D6D6;
  border-radius: 2px;
  height: 108px;
  background-repeat: no-repeat;
  background-size: 42px 38px;
  background-position: center 24px;
  background-image: url($ic-file-path);
  -webkit-transition: border-color .1s;
  -moz-transition: border-color .1s;
  -ms-transition: border-color .1s;
  -o-transition: border-color .1s;
  transition: border-color .1s;
  &.file-over {
    border-color: $dark-orange;
  }
  p {
    padding-top: 70px;
    font-size: 12px;
    font-weight: bold;
    color: #D6D6D6;
    text-align: center;
  }
}

div.file-button {
  position: relative;
  border: 1px solid $grey;
  border-radius: 2px;
  width: 100%;
  height: 34px;
  line-height: 32px;
  font-size: 12px;
  font-weight: bold;
  color: $grey;
  text-align: center;
  float: left;
  -webkit-transition: border-color .1s, color .1s, background-color .1s;
  -moz-transition: border-color .1s, color .1s, background-color .1s;
  -ms-transition: border-color .1s, color .1s, background-color .1s;
  -o-transition: border-color .1s, color .1s, background-color .1s;
  transition: border-color .1s, color .1s, background-color .1s;
  @media screen and (min-width: 769px) {
    &:hover {
      border-color: $dark-grey;
      color: white;
      background-color: $dark-grey;
    }
  }
  @media screen and (max-width: 768px) {
    &:active {
      border-color: $dark-grey;
      color: white;
      background-color: $dark-grey;
    }
  }
}

div.file {
  position: relative;
  border: 1px solid $dark-orange;
  border-radius: 2px;
  width: 100%;
  height: 34px;
  line-height: 32px;
  font-size: 12px;
  font-weight: bold;
  color: $dark-orange;
  text-align: center;
  cursor: pointer;
  float: left;
  div.close {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: $dark-orange;
      content: "";
    }
    &:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}