file-upload {
    display: block;
}

.lc-file-upload-wrap {
    position: relative;

    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }

    label.input-shape-label {
        display: block;
        width: 100%;
        padding-left: 8px;
        padding-right: 98px;
        height: 40px;
        border: 1px solid #DDDDDD;
        border-radius: 2px;

        span.file-name {
            font-size: 14px;
            line-height: 40px;
            color: #DDD;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            width: 100%;

            &.lc-uploaded {
                color: #222;
            }
        }
    }

    label.button-shape-label {
        position: absolute;
        cursor: pointer;
        padding: 0 16px;
        top: 0;
        right: 0;
        height: 40px;
        line-height: 40px;
        background-color: $orange;
        color: #fff;
        font-size: 12px;
        border-radius: 2px;
        -webkit-transition: background-color .1s;
        -moz-transition: background-color .1s;
        -ms-transition: background-color .1s;
        -o-transition: background-color .1s;
        transition: background-color .1s;
        @media screen and (min-width: 769px) {
            &:hover {
                background-color: $dark-orange;
            }
        }
        @media screen and (max-width: 768px) {
            &:active {
                background-color: $dark-orange;
            }
        }
    }
}