input.date {
  border: 1px solid $light-grey;
  border-radius: 2px;
  padding-left: 8px;
  width: 100%;
  height: 100%;
  font-size: 11px;
  cursor: pointer;
}

input.text {
  border: 1px solid $light-grey;
  border-radius: 2px;
  padding-left: 8px;
  width: 60px;
  height: 30px;
  font-size: 11px;
  font-weight: bold;
  color: $dark-grey;
}

input.search {
  padding-left: 8px;
  font-size: 11px;
  width: 100%;
  height: 100%;
}

input.data {
  border-bottom: 1px solid $light-grey;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: $dark-grey;
  -webkit-transition: border-color .1s;
  -moz-transition: border-color .1s;
  -ms-transition: border-color .1s;
  -o-transition: border-color .1s;
  transition: border-color .1s;
  &:focus {
    border-color: $dark-orange;
  }
  &.full {
    border-color: $dark-orange;
  }
}

textarea.data {
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: $dark-grey;
  resize: none;
  -webkit-transition: border-color .1s;
  -moz-transition: border-color .1s;
  -ms-transition: border-color .1s;
  -o-transition: border-color .1s;
  transition: border-color .1s;
  &:focus {
    border-color: $dark-orange;
  }
  &.full {
    border-color: $dark-orange;
  }
  &[disabled] {
    border-color: $light-grey !important;
    background-color: #fafafa;
    cursor: not-allowed;
  }
}

input.file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

div.input-wrap {
  position: relative;
  margin-top: 40px;
  @include after-clear();
  &.margin-top-0 {
    margin-top: 0;
  }
  label.label {
    margin-bottom: 8px;
    width: 100%;
    font-size: 11px;
    color: $grey;
    float: left;
    span.essential {
      font-family: monospace;
      color: $dark-orange;
    }
    &.mobile-none {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
  div.half {
    position: relative;
    width: 50%;
    float: left;
    @include after-clear();
    &:nth-of-type(1) {
      padding-right: 4px;
    }
    &:nth-of-type(2) {
      padding-left: 4px;
    }
  }
  div.three {
    position: relative;
    width: 33.333%;
    float: left;
    @include after-clear();
    &:nth-of-type(1) {
      padding-right: 5.333px;
    }
    &:nth-of-type(2) {
      padding: 0 2.666px;
    }
    &:nth-of-type(3) {
      padding-left: 5.333px;
    }
  }
  div.mobile-one {
    @media screen and (max-width: 600px) {
      position: relative;
      padding: 0 !important;
      width: 100%;
      float: left;
      @include after-clear();
    }
  }
  div.mobile-half {
    @media screen and (max-width: 600px) {
      position: relative;
      width: 50%;
      float: left;
      @include after-clear();
      &:nth-of-type(1) {
        padding-right: 4px;
      }
      &:nth-of-type(2) {
        padding-left: 4px;
      }
    }
  }
}