div.list-wrap {
    @media screen and (min-width: 601px) {
        border: 1px solid $light-grey;
        border-radius: 4px;
        &.chart {
            border-radius: 0;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
        }
        list-header {
            border-bottom: 1px solid $light-grey;
        }
        ul.list-content {
            & > li {
                position: relative;
                @include after-clear();

                &:nth-child(odd) {
                    background-color: $light-white;
                }

                &:hover {
                    background-color: rgba(255, 149, 44, 0.2);
                }

                & > div {
                    position: relative;
                    padding-left: 12px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 11px;
                    color: $dark-grey;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    float: left;
                    @include after-clear();

                    &.center-wrap {
                        padding-left: 0;
                        text-align: center;
                    }

                    &.padding-left-0 {
                        padding-left: 0;
                    }

                    button.list {
                        margin-left: 10px;
                        border-radius: 10px;
                        padding: 0 16px;
                        height: 20px;
                        line-height: 18px;
                        font-size: 10px;

                        &:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }

                    check-box {
                        height: 40px;

                        div.check-box-wrap {
                            height: 40px;

                            i {
                                left: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
        &.chart {
            border-top: 1px solid $light-grey;

            list-header {
                border-bottom: 1px solid $light-grey;
            }

            ul.list-content {
                & > li {
                    padding: 0;
                    @include after-clear();

                    &:nth-child(odd) {
                        background-color: $light-white;
                    }

                    &:nth-child(even) {
                        background-color: white;
                    }

                    & > div {
                        position: relative;
                        padding-left: 12px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 11px;
                        color: $dark-grey;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        float: left;
                        @include after-clear();

                        &.center-wrap {
                            padding-left: 0;
                            text-align: center;
                        }

                        &.padding-left-0 {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        ul.list-content {
            & > li {
                position: relative;
                padding: 16px;

                &:nth-child(even) {
                    background-color: $light-white;
                }
            }
        }
    }
}