$page-path: #{$image-path}#{'list-header/'};

$ic-arrow-path: #{$page-path}#{'arrow.png'};
$ic-arrow-active-path: #{$page-path}#{'arrow-active.png'};

list-header {
  position: relative;
  display: block;
  ul {
    position: relative;
    @include after-clear();
    li {
      position: relative;
      height: 48px;
      text-align: center;
      cursor: pointer;
      float: left;
      &.check {
        check-box {
          height: 48px;
          div.check-box-wrap {
            height: 48px;
            i {
              left: 12px;
            }
          }
        }
      }
      div.list-item {
        position: relative;
        display: inline-block;
        @include after-clear();
      }
      span {
        display: block;
        height: 48px;
        float: left;
        &:nth-of-type(1) {
          line-height: 48px;
          font-size: 12px;
          font-weight: bold;
          color: $dark-grey;
        }
        &:nth-of-type(2) {
          margin-left: 4px;
          width: 6px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 4px 11px;
          background-image: url($ic-arrow-path);
          &.active {
            background-image: url($ic-arrow-active-path);
          }
        }
        &:nth-of-type(3) {
          width: 6px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 4px 11px;
          background-image: url($ic-arrow-path);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          &.active {
            background-image: url($ic-arrow-active-path);
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    display: none;
    &.mobile {
      display: block;
    }
  }
}