.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-default-modal;
  background-color: rgba(0, 0, 0, .5);
  overflow-y: auto;
  overflow-x: hidden;
  &.active {
    button.button-close {
      display: block;
    }
  }
  @media screen and (min-width: 769px) {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .3s, opacity .3s;
    -moz-transition: visibility .3s, opacity .3s;
    -ms-transition: visibility .3s, opacity .3s;
    -o-transition: visibility .3s, opacity .3s;
    transition: visibility .3s, opacity .3s;
    &.active {
      visibility: visible;
      opacity: 1;
      .modal {
        @include modal();
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
    &.active {
      display: block;
    }
  }
  button.button-close {
    position: absolute;
    display: none;
    padding: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    @media screen and (min-width: 601px) {
      top: 36px;
      right: 32px;
    }
    @media screen and (max-width: 600px) {
      top: 26px;
      right: 16px;
    }
    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: black;
      content: "";
    }
    &:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  h3.modal-title {
    margin: 0;
    font-weight: bold;
    color: $light-black;
    @media screen and (min-width: 601px) {
      font-size: 24px;
    }
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
}