//$page-number-color-base-border: $pale-grey-two;
$page-number-color-base-text: $dark-grey;
//$page-number-color-active-border: $dark;
$page-number-color-active-text: white;
$page-number-color-active-background: $dark-orange;
//$page-number-color-background-hover: $pale-grey-three;

$page-path: #{$image-path}#{'page-number/'};

$ic-arrow-path: #{$page-path}#{'arrow.png'};


page-number {
  position: relative;
  height: 28px;
  display: block;
}

div.sg-pagination {
  position: relative;
  display: inline-block;
  @include after-clear();
  div.sg-pagination-very-first {
    display: none;
  }
  div.sg-pagination-first {
    position: relative;
    margin-right: 4px;
    border: 1px solid #B8B8B8;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    float: left;
    background-repeat: no-repeat;
    background-size: 7px 13px;
    background-position: center;
    background-image: url($ic-arrow-path);
  }
  span.sg-pagination-index {
    position: relative;
    display: block;
    margin-right: 4px;
    border-radius: 2px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: $page-number-color-base-text;
    text-align: center;
    cursor: pointer;
    float: left;
    &:last-of-type {
      margin: 0;
    }
    &.sg-active {
      color: $page-number-color-active-text;
      background-color: $page-number-color-active-background;
      font-weight: bold;
    }
  }
  div.sg-pagination-last {
    position: relative;
    margin-left: 4px;
    border: 1px solid #B8B8B8;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    float: left;
    background-repeat: no-repeat;
    background-size: 7px 13px;
    background-position: 8px 6px;
    background-image: url($ic-arrow-path);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  div.sg-pagination-very-last {
    display: none;
  }
}