$page-path: #{$image-path}#{'radio-box/'};

$ic-radio-true-path: #{$page-path}#{'radio-true.png'};
$ic-radio-false-path: #{$page-path}#{'radio-false.png'};

radio-box {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  div.radio-box-wrap {
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 center;
    background-image: url($ic-radio-false-path);
    &.active {
      background-image: url($ic-radio-true-path);
      span {
        color: $dark-orange;
      }
    }
    span {
      display: block;
      padding-left: 24px;
      height: 100%;
      color: #BFBFBF;
    }
  }
}