#countWrap {
    @media screen and (min-width: 601px) {
        p {
            height: 34px;
            line-height: 34px;
            font-size: 13px;
            color: $grey;
        }
    }
    @media screen and (max-width: 600px) {
        border-bottom: 1px solid $light-grey;
        padding: 16px;
        p {
            font-size: 12px;
            color: $grey;
        }
        select-box {
            display: none;
        }
    }
}

#rowsWrap {
    @media screen and (min-width: 601px) {
        margin-top: 16px;
        div.list-wrap {
            ul.list-content {
                li {
                    div.btn-wrap {
                        display: block;
                    }
                    div.mobile-btn-wrap {
                        display: none;
                    }
                    span.mobile-key-text {
                        display: none;
                    }
                }
            }
        }
        div.page-number-wrap {
            margin-top: 16px;
            @include after-clear();

            page-number {
                float: right;
            }
        }
    }
    @media screen and (max-width: 600px) {
        div.list-wrap {
            ul.list-content {
                li {
                    position: relative;
                    div.btn-wrap {
                        display: none;
                    }
                    span.mobile-key-text {
                        display: inline-block;
                        font-weight: bold;
                    }
                    div.mobile-btn-wrap {
                        margin-top: 16px;
                        display: block;
                        ul {
                            font-size: 0;
                            li {
                                display: inline-block;
                                width: 50%;
                                &:nth-of-type(odd) {
                                    padding-right: 4px;
                                }
                                &:nth-of-type(even) {
                                    padding-left: 4px;
                                }

                                button {
                                    display: block;
                                    width: 100%;
                                    padding: 8px 0;
                                    border-radius: 50px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        div.page-number-wrap {
            border-top: 1px solid $light-grey;
            padding: 24px 16px;

            page-number {
                text-align: center;
            }
        }
    }
}