search-input {
  position: relative;
  display: block;
  border: 1px solid $light-grey;
  border-radius: 2px;
  padding-left: 120px;
  width: 100%;
  height: 30px;
  form {
    display: block;
    width: 100%;
    height: 100%;
  }
  select-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 28px;
    select.select {
      border: 0;
      border-radius: 0;
    }
  }
  hr {
    position: absolute;
    top: 5px;
    left: 120px;
    margin: 0;
    border: 0;
    width: 1px;
    height: 18px;
    background-color: $light-grey;
    z-index: 1;
  }
}