#searchOptionWrap {
    position: relative;
    @include after-clear();
}

#labelWrap {
    position: relative;
    @media screen and (min-width: 601px) {
        width: 94px;
        float: left;
        ul {
            position: relative;

            li {
                margin-top: 16px;
                height: 30px;
                line-height: 30px;
                font-size: 11px;
                font-weight: bold;
                color: $dark-grey;

                &:nth-of-type(1) {
                    margin-top: 0;
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
        ul {
            position: relative;
            border-bottom: 1px solid $light-grey;
            padding: 0 16px;
            height: 40px;
            @include after-clear();

            li {
                position: relative;
                margin-right: 24px;
                border-bottom: 2px solid white;
                height: 100%;
                line-height: 39px;
                font-size: 14px;
                font-weight: bold;
                color: $dark-grey;
                cursor: pointer;
                float: left;

                &:last-of-type {
                    margin-right: 0;
                }

                &.active {
                    border-color: $dark-orange;
                    color: $dark-orange;
                }
            }
        }
    }
}

#optionWrap {
    position: relative;
    @media screen and (min-width: 601px) {
        margin-left: 24px;
        width: calc(100% - 118px);
        float: left;
        ul {
            li {
                margin-top: 16px;
                height: 30px;
                @include after-clear();
                &:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
        ul {
            li {
                display: none;
                padding: 16px;

                &.active {
                    display: block;
                }
            }
        }
    }
}

#searchWrap {
    position: relative;
    @include after-clear();
    @media screen and (min-width: 601px) {
        margin-top: 16px;
        text-align: center;
        #buttonSearch {
            width: 120px;
            height: 34px;
            line-height: 34px;
            font-size: 12px;
        }
        #buttonRefresh {
            position: absolute;
            top: 2px;
            right: 0;
            width: 120px;
            height: 28px;
            line-height: 28px;
            font-size: 11px;
        }
    }
    @media screen and (max-width: 600px) {
        padding: 0 16px 16px 16px;
        div.button-wrap {
            position: relative;
            width: 50%;
            float: right;

            &:nth-of-type(1) {
                padding-left: 4px;
            }

            &:nth-of-type(2) {
                padding-right: 4px;
            }
        }
        #buttonSearch {
            width: 100%;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
        }
        #buttonRefresh {
            border: 0;
            width: 100%;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            color: white;
            background-color: $light-grey;

            &:active {
                color: white;
                background-color: $grey;
            }
        }
    }
}

