.section-card {
  position: relative;
  background-color: white;
  &.margin-top-0 {
    margin-top: 0;
  }
  &.no-padding-bot {
    padding-bottom: 0 !important;
  }
  @media screen and (min-width: 991px) {
    padding: 16px 24px;
    margin-top: 16px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  @media screen and (min-width: 601px) and (max-width: 990px) {
    padding: 16px 24px;
    margin-top: 16px;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  @media screen and (max-width: 600px) {
    margin-top: 8px;
    &.chart {
      padding: 16px;
    }
  }
}