$page-path: #{$image-path}#{'select-box/'};

$ic-triangle-path: #{$page-path}#{'triangle.png'};

select-box {
  position: relative;
  display: block;
  width: 120px;
  height: 30px;
  background-color: white;
  background-size: 10px 8px;
  background-image: url($ic-triangle-path);
  background-repeat: no-repeat;
  background-position: right 8px center;
  //i {
  //  position: absolute;
  //  top: 50%;
  //  right: 8px;
  //  margin-top: -4px;
  //  width: 10px;
  //  height: 8px;
  //  @include background();
  //  background-image: url($ic-triangle-path);
  //  z-index: 1;
  //}
}

select.select {
  border: 1px solid $light-grey;
  border-radius: 2px;
  padding-left: 8px;
  width: 100%;
  height: 100%;
  font-size: 11px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}