#receiverManageWrap {
  #countWrap {
    @media screen and (min-width: 601px) {
      select-box {
        position: absolute;
        top: 16px;
        right: 122px;
        width: 80px;
        height: 34px;
        select.select {
          font-size: 12px;
        }
      }
      #buttonSubmitReceiver {
        position: absolute;
        top: 16px;
        right: 24px;
        width: 90px;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
      }
    }
    @media screen and (max-width: 600px) {
      #buttonSubmitReceiver {
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        z-index: $z-index-receiver-group-manage-button-mobile;
      }
    }
  }
  #rowsWrap {
    @media screen and (min-width: 601px) {
      div.list-wrap {
        list-header {
          ul {
            li {
              width: 16.666%;
            }
          }
        }
        ul.list-content {
          li {
            cursor: pointer;
            & > div {
              width: 16.666%;
            }
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      div.list-wrap {
        ul.list-content {
          li {
            & > div {
              &:nth-of-type(1) {
                border-radius: 9px;
                padding: 0 8px;
                height: 18px;
                line-height: 18px;
                font-size: 12px;
                color: $grey;
                background-color: #EDEDED;
              }
              &:nth-of-type(2) {
                margin-top: 10px;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                color: $dark-grey;
              }
              &:nth-of-type(3) {
                margin-top: 10px;
                width: 100%;
                font-size: 14px;
                color: $dark-grey;
              }
              &:nth-of-type(6) {
                margin-top: 10px;
                width: 100%;
                font-size: 12px;
                color: #464646;
              }
              &:nth-of-type(4) {
                position: absolute;
                left: 0;
                bottom: 16px;
                padding-left: 16px;
                padding-right: 4px;
                width: 50%;
              }
              &:nth-of-type(5) {
                position: absolute;
                right: 0;
                bottom: 16px;
                padding-left: 4px;
                padding-right: 16px;
                width: 50%;
              }
              button.list {
                border-radius: 15px;
                width: 100%;
                height: 30px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }
}