<article id="detailHourDiagramWrap" data-ng-controller="DetailHourDiagramCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="detailHourDiagram" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">발송 후 {{ form.diagramHour }}시간 열람추이</h3>

                    <div class="select-wrap">
                        <select-box ng-enum="selectEnums" ng-model="selectHistoryId"
                                    ng-text-key="title" ng-value-key="id"
                                    ng-placeholder="{{ '대상 선택' }}"></select-box>
                    </div>

                    <div data-ng-if="isSelected">
                        <div class="rows-wrap">
                            <div class="list-wrap">
                                <list-header headers="headers" events="events"></list-header>
                                <ul class="list-content">
                                    <li data-ng-repeat="item in detailHours track by $index">
                                        <div class="center-wrap">
                                            <span class="key">{{$index * 3 | number}} ~ {{(($index+1)*3) | number }}시간</span>
                                            <span class="val">{{$index * 3 | number}} ~ {{(($index+1)*3) | number }}시간</span>
                                        </div>
                                        <div class="center-wrap">
                                            <span class="key">{{item}}</span>
                                            <span class="val">{{ item | number }}회</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>