<article id="detailPageCountDiagramWrap" data-ng-controller="DetailPageCountDiagramCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="detailPageCountDiagram" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">페이지별 열람추이</h3>

                    <div class="select-wrap">
                        <select-box ng-enum="selectEnums" ng-model="selectHistoryId"
                                    ng-text-key="title" ng-value-key="id"
                                    ng-placeholder="{{ '대상 선택' }}"></select-box>
                    </div>

                    <div data-ng-if="isSelected">
                    <div class="rows-wrap">
                        <div class="list-wrap">
                            <list-header headers="headers" events="events"></list-header>
                            <ul class="list-content">
                                <li data-ng-repeat="item in detailPageCounts">
                                    <div class="center-wrap">
                                        <span class="key">{{headers[0]}}</span>
                                        <span class="val">{{ item.title }}</span>
                                    </div>
                                    <div class="center-wrap">
                                        <span class="key">{{headers[1]}}</span>
                                        <span class="val">{{ item.count | number }}회 ({{ item.count/item.totalCount*100 | number }}%)</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</article>