<article id="detailPerHourCouponDiagramWrap" data-ng-controller="DetailPerHourCouponDiagramCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="detailPerHourCouponDiagram" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">시간대별 쿠폰 사용량</h3>

                </div>
            </div>
        </div>
    </div>
</article>