<article id="detailAddressDiagramWrap" data-ng-controller="DetailAddressDiagramCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="detailAddressDiagram" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">주소</h3>

                    <div class="select-wrap">
                        <select-box ng-enum="selectEnums" ng-model="selectHistoryId"
                                    ng-text-key="title" ng-value-key="id"
                                    ng-placeholder="{{ '대상 선택' }}"></select-box>
                    </div>

                    <div data-ng-if="isSelected">
                        <div class="rows-wrap">
                            <div class="list-wrap">
                                <list-header headers="headers" events="events"></list-header>
                                <ul class="list-content">
                                    <li data-ng-repeat="item in detailAddresses">
                                        <div class="center-wrap">
                                            <span class="key">{{headers[0]}}</span>
                                            <span class="val">
                                                {{ item.address1 }}
                                                {{ form.sido ? ' ' + item.address2 : null }}
                                                {{ form.sigungu ? ' ' + item.address3 : null }}
                                            </span>
                                        </div>
                                        <div class="center-wrap">
                                            <span class="key">{{headers[1]}}</span>
                                            <span class="val">{{ item.count | number }}회</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>