<div data-ng-include="modalTemplatePath + 'submit-receiver.html'"></div>
<div data-ng-include="modalTemplatePath + 'update-receiver.html'"></div>
<div data-ng-include="modalTemplatePath + 'submit-receiver-group.html'"></div>
<div data-ng-include="modalTemplatePath + 'submit-receiver-group-with-file.html'"></div>
<div data-ng-include="modalTemplatePath + 'update-receiver-group.html'"></div>
<div data-ng-include="modalTemplatePath + 'receiver-group.html'"></div>
<div data-ng-include="modalTemplatePath + 'register-receiver-group.html'"></div>
<div data-ng-include="modalTemplatePath + 'sent-count.html'"></div>
<div data-ng-include="modalTemplatePath + 'insert-phone-num.html'"></div>
<div data-ng-include="modalTemplatePath + 'select-send-type.html'"></div>
<div data-ng-include="modalTemplatePath + 'select-function.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-opener-count.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-opener-count-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-hour-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-day-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-per-hour-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-per-day-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-gender-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-age-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-address-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-page-count-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-page-time-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-per-hour-coupon-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-per-day-coupon-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-coupon-count-diagram.html'"></div>
<div data-ng-include="modalTemplatePath + 'detail-coupon-type-count-diagram.html'"></div>

<div data-ng-include="modalTemplatePath + 'receiver-list.html'"></div>
<div data-ng-include="modalTemplatePath + 'sent-message-list.html'"></div>
<div data-ng-include="modalTemplatePath + 'sent-manage.html'"></div>
<div data-ng-include="modalTemplatePath + 'update-user.html'"></div>
<div data-ng-include="modalTemplatePath + 'my-profile.html'"></div>