<article id="insertPhoneNumWrap" data-ng-controller="InsertPhoneNumCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="insertPhoneNum" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">테스트 발송</h3>
                    <form data-ng-submit="send()">
                        <div class="input-wrap">
                            <label class="label">핸드폰 번호</label>
                            <input type="text" class="data" data-ng-class="{'full': form.phoneNum}" data-ng-model="form.phoneNum" placeholder="{{ '핸드폰 번호 입력' }}">
                        </div>
                        <div class="button-wrap">
                            <button type="submit" class="orange">발송</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>