<article id="myProfilerWrap" data-ng-controller="MyProfileCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="myProfiler" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">내 정보</h3>
                    <form data-ng-submit="update()">
                        <div class="input-wrap">
                            <div class="input-row-wrap">
                                <label class="input-row-label">권한</label>
                                <p class="uneditable-content">{{form.role}}</p>
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="myUrl">URL</label>
                                <input id="myUrl" type="text" class="data" data-ng-class="{'full': form.url}" data-ng-model="form.url" placeholder="{{ 'http://' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="myName">이름</label>
                                <input id="myName" type="text" class="data" data-ng-class="{'full': form.name}" data-ng-model="form.name" placeholder="{{ '이름' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userPw">비밀번호</label>
                                <input id="userPw" type="password" class="data" data-ng-class="{'full': form.password}" data-ng-model="form.password" placeholder="{{ '비밀번호' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userPwCheck">비밀번호 확인</label>
                                <input id="userPwCheck" type="password" class="data" data-ng-class="{'full': form.passwordCheck}" data-ng-model="form.passwordCheck" placeholder="{{ '이름' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label">건당 sms요금</label>
                                <p class="uneditable-content">{{form.sms}}</p>
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label">건당 lms요금</label>
                                <p class="uneditable-content">{{form.lms}}</p>
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="myRefuseMessage">수신거부 메시지</label>
                                <textarea id="myRefuseMessage" class="data" data-ng-class="{'full': form.refuseMessage}" data-ng-model="form.refuseMessage" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="button-wrap">
                            <button type="submit" class="orange">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>