<article id="receiverListWrap" data-ng-controller="ReceiverListCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="receiverList" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">수신자 목록</h3>

                    <div id="searchOptionWrap">
                        <div id="labelWrap">
                            <ul>
                                <li class="active">
                                    검색
                                </li>
                            </ul>
                        </div>
                        <div id="optionWrap">
                            <ul>
                                <li class="active">
                                    <search-input ng-keyword="form.searchField"
                                                  ng-enum="enumSearchFields"
                                                  ng-value-key="value"
                                                  ng-text-key="text"
                                                  ng-keyword-placeholder="{{ '검색 필드' }}"
                                                  ng-item="form.searchItem"
                                                  ng-item-placeholder="{{ '검색어' }}"
                                                  ng-search="search"></search-input>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="searchWrap">
                        <div class="button-wrap">
                            <button type="button" id="buttonSearch" class="orange" data-ng-click="search()">검색</button>
                        </div>
                        <div class="button-wrap">
                            <button type="button" id="buttonRefresh" class="line" data-ng-click="refresh()">초기화</button>
                        </div>
                    </div>

                    <div id="rowsWrap">
                        <div class="list-wrap">
                            <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
                            <ul class="list-content">
                                <li data-ng-repeat="item in receivers.rows" data-ng-click="$event.stopPropagation(); openUpdateReceiverGroup(item, $index)">
                                    <div class="center-wrap">{{ item.receiverId }}</div>
                                    <div class="center-wrap">{{ item.key | noData }}</div>
                                    <div class="center-wrap">{{ item.name | noData }}</div>
                                    <div class="center-wrap">{{ genderStates[item.gender] }}</div>
                                    <div class="center-wrap">{{ item.age ? (item.age | number) : "알 수 없음" }}</div>
                                    <div class="center-wrap">{{ item.phoneNum ? 'O' : 'X' }}</div>
                                    <div class="center-wrap">{{ (item.address1 && item.address2 && item.address3) ? 'O' : 'X' }}</div>
                                </li>
                            </ul>
                        </div>

                        <div class="page-number-wrap" data-ng-if="receivers.rows.length">
                            <page-number size="form.size"
                                         total="receivers.count"
                                         current-page-string="{{ form.size | returnPage: form.offset }}"
                                         func="goPage"></page-number>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>