<article id="receiverGroupWrap" data-ng-controller="ReceiverGroupCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap mobile-full">
            <div class="vertical-align">
                <div id="receiverGroup" class="modal" data-ng-click="$event.stopPropagation()">
                    <button class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">소속 그룹</h3>
                    <div class="count-wrap">
                        <p>결과 {{ receiverGroups.count | number }}건</p>
                        <button id="buttonRegisterReceiverGroup" class="orange" data-ng-click="openRegisterReceiverGroup()">그룹 추가</button>
                    </div>
                    <div class="rows-wrap">
                        <div class="list-wrap">
                            <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
                            <ul class="list-content">
                                <li data-ng-repeat="item in receiverGroups.rows">
                                    <div>{{ item.serialNum }}</div>
                                    <div>{{ item.groupName }}</div>
                                    <div class="center-wrap">{{ item.registeredAt }}</div>
                                    <div class="center-wrap"><button type="button" class="list" data-ng-click="withdraw(item, $index);$event.stopPropagation();">해제</button></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>