<article id="registerReceiverGroupWrap" data-ng-controller="RegisterReceiverGroupCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="registerReceiverGroup" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">그룹 추가</h3>
                    <div class="input-wrap">
                        <select-box ng-model="form.receiverGroupId" ng-enum="receiverGroups.rows" ng-value-key="id" ng-text-key="groupName" ng-placeholder="{{ '그룹명' }}"></select-box>
                    </div>
                    <div class="button-wrap">
                        <button type="button" class="orange" data-ng-click="register()">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>