<article id="selectFunctionWrap" data-ng-controller="SelectFunctionCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="selectFunction" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">기능 선택</h3>
                    <div class="radio-wrap">
                        <!--<radio-box ng-model="form.isExportResult" ng-func="exportResult" ng-text="{{ '분석결과 -> 내보내기' }}"></radio-box>-->
                        <radio-box ng-model="form.isExportOpener" ng-func="exportOpener" ng-text="{{ '열람자목록 -> 내보내기' }}"></radio-box>
                        <radio-box ng-model="form.isCreateReceiverGroup" ng-func="createReceiverGroup" ng-text="{{ '열람자목록 -> 신규그룹등록' }}"></radio-box>
                    </div>
                    <div class="button-wrap">
                        <button type="button" class="orange" data-ng-click="select()">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>