<article id="selectSendTypeWrap" data-ng-controller="SelectSendTypeCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="selectSendType" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">발송</h3>
                    <div class="input-wrap">
                        <label class="label">발송 유형</label>
                        <radio-box ng-model="form.isSendTypeDirect" ng-func="selectSendTypeDirect" ng-text="{{ '즉시 전송' }}"></radio-box>
                        <radio-box ng-model="form.isSendTypeBook" ng-func="selectSendTypeBook" ng-text="{{ '예약 전송' }}"></radio-box>
                    </div>
                    <div data-ng-if="form.isSendTypeBook">
                        <div class="input-wrap">
                            <div>
                                <label class="label">문자발송 예약 시간</label>
                                <datepicker date-format="yyyy-MM-dd" datepicker-mobile="true">
                                    <input type="text" class="date" data-ng-model="form.sendDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                                </datepicker>
                            </div>
                            <div class="half">
                                <select-box ng-model="form.sendHour" ng-enum="enumHours" ng-placeholder="{{ 'HH시' }}"></select-box>
                            </div>
                            <div class="half">
                                <select-box ng-model="form.sendMinute" ng-enum="enumMinutes" ng-placeholder="{{ 'MM분' }}"></select-box>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap">
                        <button type="button" class="orange" data-ng-click="send()">발송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>