<article id="sentManageWrap" data-ng-controller="SentManageCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="sentManage" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">발송관리</h3>

                    <ul id="sentManageBtnWrap">
                        <li data-ng-if="sendPostVisibleStates[form.state]">
                            <label>즉시발송</label>
                            <p class="btn-description">발송 그룹에 속한 수신자들 중 핸드폰 번호가 입력된 수신자들에게 문자를 발송합니다. 문자는 순차적으로 발송되며 모든 수신자에게 발송되는데 일정 시간이 소요됩니다.</p>
                            <div class="btn-wrap">
                                <button class="orange" type="button" data-ng-click="sendPost()">즉시발송</button>
                            </div>

                        </li>
                        <li data-ng-if="postReservationVisibleStates[form.state]">
                            <label>예약발송</label>
                            <p class="btn-description">발송 그룹에 속한 수신자들 중 핸드폰 번호가 입력된 수신자들에게 문자를 발송합니다. 문자는 예약한 시각부터 순차적으로 발송되며 모든 수신자에게 발송되는데 일정 시간이 소요됩니다.</p>
                            <div class="input-wrap">
                                <div class="three mobile-one">
                                    <label class="label">문자발송 예약 시간</label>
                                    <datepicker date-format="yyyy-MM-dd" date-min-limit="{{minDate}}" datepicker-mobile="true">
                                        <input type="text" class="date" data-ng-model="reservationForm.sendDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                                    </datepicker>
                                </div>
                                <div class="three mobile-half">
                                    <label class="label">&nbsp;</label>
                                    <select-box ng-model="reservationForm.sendHour" ng-enum="enumHours" ng-placeholder="{{ 'HH시' }}"></select-box>
                                </div>
                                <div class="three mobile-half">
                                    <label class="label">&nbsp;</label>
                                    <select-box ng-model="reservationForm.sendMinute" ng-enum="enumMinutes" ng-placeholder="{{ 'MM분' }}"></select-box>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <button class="orange" type="button" data-ng-click="postReservation();">예약발송</button>
                            </div>
                        </li>
                        <!--<li>-->
                            <!--<button class="orange">테스트발송</button>-->
                        <!--</li>-->
                        <li data-ng-if="cancelPostVisibleStates[form.state]">
                            <label>발송취소</label>
                            <p class="btn-description">예약발송을 취소합니다.</p>
                            <div class="btn-wrap">
                                <button class="orange" type="button" data-ng-click="cancelPost();">발송취소</button>
                            </div>
                        </li>
                        <li data-ng-if="extractUrlVisibleStates[form.state]">
                            <label>개인화 URL 추출</label>
                            <p class="btn-description">수신자별 문자 메세지 및 URL을 추출합니다.</p>
                            <div class="btn-wrap">
                                <button class="orange" type="button" data-ng-click="extractUrl();">URL 추출</button>
                            </div>
                        </li>

                        <li data-ng-if="form.state === 'export' && form.exportHistory.state === 'complete'">
                            <label>CSV 다운로드</label>
                            <p class="btn-description">추출한 수신자별 문자 메세지 및 URL을 다시 다운로드합니다.</p>
                            <div class="btn-wrap">
                                <button class="orange" type="button" data-ng-click="downloadCsv();">다운로드</button>
                            </div>
                        </li>

                        <li data-ng-if="form.state === 'export' && form.exportHistory.state === 'error'">
                            <label>CSV 다운로드</label>
                            <p class="btn-description">수신자별 문자 메세지 및 URL추출이 실패하였습니다.</p>
                            <p class="warning">{{form.exportHistory.errorMessage}}</p>
                        </li>

                        <li data-ng-if="removePostVisibleStates[form.state]">
                            <label>삭제</label>
                            <p class="btn-description">발송메세지를 삭제합니다. 발송예정인 발송 메세지는 삭제 후 발송되지 않습니다.</p>
                            <div class="btn-wrap">
                                <button class="orange" type="button" data-ng-click="removePost();">삭제</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>