<article id="sentCountWrap" data-ng-controller="SentCountCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap mobile-full">
            <div class="vertical-align">
                <div id="sentCount" class="modal" data-ng-click="$event.stopPropagation()">
                    <button class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">발송 횟수</h3>
                    <div class="count-wrap">
                        <p>결과 {{ sendHistories.count | number }}건</p>
                    </div>
                    <div class="rows-wrap">
                        <div class="list-wrap">
                            <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
                            <ul class="list-content">
                                <li data-ng-repeat="item in sendHistories.rows">
                                    <div>{{ item.serialNum }}</div>
                                    <div>{{ item.title }}명</div>
                                    <div class="center-wrap">{{ item.sentAt | date: 'yyyy-MM-dd' }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>