<article id="sentMessageListWrap" data-ng-controller="SentMessageListCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="sentMessageList" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">발송 메시지 목록</h3>

                    <div id="rowsWrap">
                        <div class="list-wrap">
                            <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
                            <ul class="list-content">
                                <li data-ng-repeat="item in messageReceiverGroup.rows" data-ng-click="$event.stopPropagation(); openUpdateReceiverGroup(item, $index)">
                                    <div class="center-wrap">{{ item.id }}</div>
                                    <div class="center-wrap">{{ item.title | noData }}</div>
                                    <div class="center-wrap">{{ item.activeDate ? (item.activeDate | toISODate | date:'yyyy-MM-dd HH:mm') : '-' }}</div>
                                    <div class="center-wrap">{{ item.createdAt ? (item.createdAt | toISODate | date:'yyyy-MM-dd HH:mm') : '-' }}</div>
                                </li>
                            </ul>
                        </div>

                        <div class="page-number-wrap" data-ng-if="messageReceiverGroup.rows.length">
                            <page-number size="form.size"
                                         total="messageReceiverGroup.count"
                                         current-page-string="{{ form.size | returnPage: form.offset }}"
                                         func="goPage"></page-number>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>