<article id="submitReceiverWrap" data-ng-controller="SubmitReceiverCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true);">
        <div class="vertical-align-wrap mobile-full">
            <div class="vertical-align">
                <div id="submitReceiver" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">수신자 등록</h3>
                    <div class="input-wrap">
                        <label class="label">그룹</label>
                        <select-box ng-model="form.groupId" ng-enum="receiverGroups.rows" ng-value-key="id" ng-text-key="groupName" ng-placeholder="{{ '그룹 선택' }}"></select-box>
                    </div>
                    <div class="input-wrap">
                        <label class="label">등록 유형</label>
                        <radio-box ng-model="isSubmitOne" ng-func="selectSubmitOne" ng-text="{{ '단일 등록' }}"></radio-box>
                        <radio-box ng-model="isSubmitFile" ng-func="selectSubmitFile" ng-text="{{ '파일 등록' }}"></radio-box>
                    </div>
                    <div data-ng-if="isSubmitOne">
                        <div class="input-wrap">
                            <label class="label">Key <span class="essential">*</span></label>
                            <input type="text" class="data" data-ng-model="form.key" data-ng-class="{'full': form.key}" placeholder="{{ 'Key' }}">
                        </div>
                        <div class="input-wrap">
                            <div class="half">
                                <label class="label">이름</label>
                                <input type="text" class="data" data-ng-model="form.name" data-ng-class="{'full': form.name}" placeholder="{{ '입력' }}">
                            </div>
                            <div class="half">
                                <label class="label">전화번호</label>
                                <input type="tel" class="data" data-ng-model="form.phoneNum" data-ng-class="{'full': form.phoneNum}" placeholder="{{ '입력' }}">
                            </div>
                        </div>
                        <div class="input-wrap">
                            <div class="half">
                                <label class="label">나이</label>
                                <input type="text" class="data" data-ng-model="form.age" data-ng-class="{'full': form.key}" placeholder="{{ '출생년도 또는 나이' }}">
                            </div>
                            <div class="half">
                                <label class="label">성별</label>
                                <select-box ng-model="form.gender" ng-enum="enumGenders" ng-value-key="value" ng-text-key="text" ng-placeholder="{{ '선택' }}"></select-box>
                            </div>
                        </div>
                        <div class="input-wrap">
                            <div class="three mobile-one">
                                <label class="label">주소</label>
                                <select-box ng-model="form.sido" ng-enum="enumSidos" ng-placeholder="{{ '시/도' }}"></select-box>
                            </div>
                            <div class="three mobile-half">
                                <label class="label mobile-none">&nbsp;</label>
                                <select-box ng-model="form.sigungu" ng-enum="enumSigungus" ng-placeholder="{{ '시/군/구' }}"></select-box>
                            </div>
                            <div class="three mobile-half">
                                <label class="label mobile-none">&nbsp;</label>
                                <select-box ng-model="form.eupmyeondong" ng-enum="enumEupmyeondongs" ng-placeholder="{{ '읍/면/동' }}"></select-box>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="isSubmitFile">
                        <div class="input-wrap">
                            <label class="label">파일 업로드</label>
                            <div class="file-drop-wrap"
                                 data-ng-if="!form.file"
                                 nv-file-drop nv-file-over file-over
                                 over-class="file-over"
                                 uploader="uploader">
                                <p>파일 찾기</p>
                                <input type="file" class="file" nv-file-select uploader="uploader">
                            </div>
                            <div class="file-button"
                                 data-ng-if="!form.file">
                                파일 찾기
                                <input type="file" class="file" nv-file-select uploader="uploader">
                            </div>
                            <div class="file" data-ng-if="form.file" data-ng-click="clearFile()">
                                {{ form.file.name }}
                                <div type="button" class="close"></div>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap">
                        <button type="button" class="orange" data-ng-click="submit()">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>