<article id="submitReceiverGroupWithFileWrap" data-ng-controller="SubmitReceiverGroupWithFileCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap" data-ng-if="isOpen">
            <div class="vertical-align">
                <div id="submitReceiverGroupWithFile" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">그룹 등록</h3>
                    <form data-ng-submit="submit()">
                        <div class="input-wrap">
                            <input type="text" class="data" data-ng-class="{'full': form.name}" data-ng-model="form.name" placeholder="{{ '그룹 이름 입력' }}">
                        </div>
                        <file-upload
                                ng-id="receiverGroupFile"
                                ng-model="form.file"></file-upload>
                        <div class="button-wrap">
                            <button type="submit" class="orange">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>