<article id="updateReceiverGroupWrap" data-ng-controller="UpdateReceiverGroupCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="updateReceiverGroup" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">그룹 수정</h3>
                    <form data-ng-submit="update()">
                        <div class="input-wrap">
                            <input type="text" class="data" data-ng-class="{'full': form.name}" data-ng-model="form.name" placeholder="{{ '그룹 이름 입력' }}">
                        </div>
                        <div class="button-wrap">
                            <button type="button" class="remove" data-ng-click="remove();">삭제</button>
                            <button type="submit" class="orange">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>