<article id="updateReceiverWrap" data-ng-controller="UpdateReceiverCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="updateReceiver" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">수신자 정보 수정</h3>
                    <div class="input-wrap">
                        <label class="label">Key <span class="essential">*</span></label>
                        <input type="text" class="data" data-ng-model="form.key" data-ng-class="{'full': form.key}" placeholder="{{ 'Key' }}">
                    </div>
                    <div class="input-wrap">
                        <div class="half">
                            <label class="label">이름</label>
                            <input type="text" class="data" data-ng-model="form.name" data-ng-class="{'full': form.name}" placeholder="{{ '입력' }}">
                        </div>
                        <div class="half">
                            <label class="label">전화번호</label>
                            <input type="tel" class="data" data-ng-model="form.phoneNum" data-ng-class="{'full': form.phoneNum}" placeholder="{{ '입력' }}">
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="half">
                            <label class="label">나이</label>
                            <input type="text" class="data" data-ng-model="form.age" data-ng-class="{'full': form.key}" placeholder="{{ '출생년도 또는 나이' }}">
                        </div>
                        <div class="half">
                            <label class="label">성별</label>
                            <select-box ng-model="form.gender" ng-enum="enumGenders" ng-value-key="value" ng-text-key="text" ng-placeholder="{{ '선택' }}"></select-box>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <div class="three mobile-one">
                            <label class="label">주소</label>
                            <select-box ng-model="form.sido" ng-enum="enumSidos" ng-placeholder="{{ '시/도' }}"></select-box>
                        </div>
                        <div class="three mobile-half">
                            <label class="label mobile-none">&nbsp;</label>
                            <select-box ng-model="form.sigungu" ng-enum="enumSigungus" ng-placeholder="{{ '시/군/구' }}"></select-box>
                        </div>
                        <div class="three mobile-half">
                            <label class="label mobile-none">&nbsp;</label>
                            <select-box ng-model="form.eupmyeondong" ng-enum="enumEupmyeondongs" ng-placeholder="{{ '읍/면/동' }}"></select-box>
                        </div>
                    </div>
                    <div class="button-wrap">
                        <button type="button" class="orange" data-ng-click="update()">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>