<article id="updateUserWrap" data-ng-controller="UpdateUserCtrl" tabindex="0">
    <div class="modal-overlay" data-ng-class="{'active': isOpen}" data-ng-click="close(true)" prevent-touch>
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="updateUser" class="modal" data-ng-click="$event.stopPropagation()">
                    <button type="button" class="button-close" data-ng-click="close()"></button>
                    <h3 class="modal-title">사용자 수정</h3>
                    <form data-ng-submit="update()">
                        <div class="input-wrap">
                            <div class="input-row-wrap" data-ng-if="domains">
                                <label class="input-row-label">도메인</label>
                                <select-box ng-model="form.domainId"
                                            ng-enum="domains.rows"
                                            ng-value-key="id"
                                            ng-text-key="url"
                                            ng-placeholder="{{ '도메인' }}"></select-box>
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label">권한</label>
                                <select-box ng-model="form.role"
                                            ng-enum="enumRoles"
                                            ng-placeholder="{{ '권한' }}"></select-box>
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userUrl">URL</label>
                                <input id="userUrl" type="text" class="data" data-ng-class="{'full': form.url}" data-ng-model="form.url" placeholder="{{ 'http://' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userUid">아이디</label>
                                <input id="userUid" type="text" class="data" data-ng-class="{'full': form.uid}" data-ng-model="form.uid" placeholder="{{ '아이디' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userName">이름</label>
                                <input id="userName" type="text" class="data" data-ng-class="{'full': form.name}" data-ng-model="form.name" placeholder="{{ '이름' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userPhoneNum">전화번호</label>
                                <input id="userPhoneNum" type="text" class="data" data-ng-class="{'full': form.phoneNum}" data-ng-model="form.phoneNum" placeholder="{{ '전화번호' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userSMS">건당 sms요금</label>
                                <p data-ng-if="vm.session.role !== 'ADMIN'" class="uneditable-content">{{form.sms}}</p>
                                <input data-ng-if="vm.session.role === 'ADMIN'" id="userSMS" type="text" class="data" data-ng-class="{'full': form.sms}" data-ng-model="form.sms" placeholder="{{ 'sms' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userLMS">건당 lms요금</label>
                                <p data-ng-if="vm.session.role !== 'ADMIN'" class="uneditable-content">{{form.lms}}</p>
                                <input data-ng-if="vm.session.role === 'ADMIN'" id="userLMS" type="text" class="data" data-ng-class="{'full': form.lms}" data-ng-model="form.lms" placeholder="{{ 'lms' }}">
                            </div>
                            <div class="input-row-wrap">
                                <label class="input-row-label" for="userRefuseMessage">수신거부 메시지</label>
                                <textarea id="userRefuseMessage" class="data" data-ng-class="{'full': form.refuseMessage}" data-ng-model="form.refuseMessage" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="button-wrap">
                            <button type="submit" class="orange">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>