<div id="addressDiagram">
    <button type="button" class="detail" data-ng-click="openDetailAddressDiagram()"></button>
    <h4 class="chart-title">주소</h4>
    <div class="diagram-wrap">
        <canvas id="chartAddressDiagram" ready></canvas>
    </div>
</div>