<div id="ageDiagram">
    <button type="button" class="detail" data-ng-click="openDetailAgeDiagram()"></button>
    <h4 class="chart-title">나이</h4>
    <div class="diagram-wrap">
        <canvas id="chartAgeDiagram" ready></canvas>
    </div>
</div>