<div id="couponCountDiagram">
    <button type="button" class="detail" data-ng-click="openDetailCouponCountDiagram()"></button>
    <h4 class="chart-title">쿠폰 사용수</h4>
    <div class="diagram-wrap">

    </div
</div>