<div id="couponTypeCountDiagram">
    <button type="button" class="detail" data-ng-click="openDetailCouponTypeCountDiagram()"></button>
    <h4 class="chart-title">쿠폰 유형별 사용수</h4>
    <div class="diagram-wrap">

    </div>
</div>