<div id="dayDiagram">
    <button type="button" class="detail" data-ng-click="openDetailDayDiagram()"></button>
    <div class="chart-wrap">
        <h4 class="chart-title">발송 후 {{ form.diagramDay }}일간 열람 기록</h4>
        <div class="diagram-wrap">
            <canvas id="chartDayDiagram" ready></canvas>
        </div>
    </div>
    <div class="button-wrap">
        <button type="button" class="open" data-ng-class="{'active': isOpen['dayDiagram']}" data-ng-click="open('dayDiagram')"><span>자세히 보기</span></button>
    </div>
    <div class="rows-wrap" data-ng-if="isOpen['dayDiagram']">
        <div class="list-wrap chart">
            <list-header class="mobile" headers="dayDiagramScope.headers" events="dayDiagramScope.events" order-bys="dayDiagramScope.orderBys"></list-header>
            <ul class="list-content">
                <li data-ng-repeat="item in listResult.dayDiagram track by $index">
                    <div class="center-wrap">{{ $index === 0 ? '발송' : $index }}일</div>
                    <div class="center-wrap">{{ item | number }} 회</div>
                </li>
            </ul>
        </div>
    </div>
</div>