<div id="functionWrap">
    <!--<button type="button" class="list" data-ng-click="exportResult()">분석결과 -> 내보내기</button>-->
    <button type="button" class="list" data-ng-click="exportOpener()">열람자목록 -> 내보내기</button>
    <button type="button" class="list" data-ng-click="openCreateReceiverGroup()">열람자목록 -> 신규그룹등록</button>
</div>
<div id="functionMobileWrap">
    <button type="button" class="orange" data-ng-click="openSelectFunction()">추가 기능</button>
</div>