<div id="genderDiagram">
    <button type="button" class="detail" data-ng-click="openDetailGenderDiagram()"></button>
    <h4 class="chart-title">성별</h4>
    <div class="diagram-wrap">
        <canvas id="chartGenderDiagram" ready></canvas>
    </div>
    <div class="legend-wrap">
        <span>남자: {{labelGenderForm.genderMale | number}}</span><br/>
        <span>여자: {{labelGenderForm.genderFemale | number}}</span><br/>
        <span>알 수 없음: {{labelGenderForm.genderNone | number}}</span>
    </div>
</div>