<div id="hourDiagram">
    <button type="button" class="detail" data-ng-click="openDetailHourDiagram()"></button>
    <div class="chart-wrap padding-0">
        <h4 class="chart-title">발송 후 {{ form.diagramHour }}시간 열람 기록</h4>
        <div class="diagram-wrap">
            <canvas id="chartHourDiagram" ready></canvas>
        </div>
    </div>
    <div class="button-wrap">
        <button type="button" class="open" data-ng-class="{'active': isOpen.hourDiagram}" data-ng-click="open('hourDiagram')"><span>자세히 보기</span></button>
    </div>
    <div class="rows-wrap" data-ng-if="isOpen.hourDiagram">
        <div class="list-wrap chart">
            <list-header class="mobile" headers="hourDiagramScope.headers"></list-header>
            <ul class="list-content">
                <li data-ng-repeat="item in listResult.hourDiagram track by $index">
                    <div class="center-wrap">{{ (($index + 1) * 3) | number }} 시간</div>
                    <div class="center-wrap">{{ item | number }} 회</div>
                </li>
            </ul>
        </div>
    </div>
</div>