<article id="chartWrap" data-ng-controller="ChartCtrl">
    <span us-spinner spinner-key="spinner-1"></span>
    <div class="section-card margin-top-0" data-ng-include="templatePath + 'search-part.html'"></div>
    <div data-ng-include="templatePath + 'function-part.html'"></div>
    <!--<div id="openerCountWrap">-->
    <!--</div>-->
    <div class="section-card chart" data-ng-include="templatePath + 'opener-count-diagram.html'"></div>
    <div class="section-card chart" data-ng-include="templatePath + 'opener-count.html'"></div>
    <div class="section-card chart no-padding-bot" data-ng-include="templatePath + 'hour-diagram.html'"></div>
    <div class="section-card chart no-padding-bot" data-ng-include="templatePath + 'day-diagram.html'"></div>
    <!--<div class="section-card padding-0" data-ng-include="templatePath + 'per-hour-diagram.html'"></div>-->
    <!--<div class="section-card padding-0" data-ng-include="templatePath + 'per-day-diagram.html'"></div>-->
    <div class="section-card chart" data-ng-include="templatePath + 'gender-diagram.html'"></div>
    <div class="section-card chart" data-ng-include="templatePath + 'age-diagram.html'"></div>
    <div class="section-card chart" data-ng-include="templatePath + 'address-diagram.html'"></div>
    <div class="section-card chart" data-ng-include="templatePath + 'page-count-diagram.html'"></div>
    <div class="section-card chart" data-ng-include="templatePath + 'page-time-diagram.html'"></div>
    <!--<div id="couponCountWrap">-->
        <!--<div class="section-card chart" data-ng-include="templatePath + 'coupon-count-diagram.html'"></div>-->
        <!--<div class="section-card chart" data-ng-include="templatePath + 'coupon-type-count-diagram.html'"></div>-->
    <!--</div>-->
    <!--<div class="section-card chart" data-ng-include="templatePath + 'per-hour-coupon-diagram.html'"></div>-->
    <!--<div class="section-card chart" data-ng-include="templatePath + 'per-day-coupon-diagram.html'"></div>-->
</article>
