<div id="openerCount">
    <button type="button" class="detail" data-ng-click="openDetailOpenerCount()"></button>
    <div class="count-wrap">
        <h4 class="chart-title">URL 접속 횟수</h4>
        <p>{{ openerCount.openCount | number }} 회</p>
    </div>
    <div class="count-wrap">
        <h4 class="chart-title">URL 재접속 횟수</h4>
        <p>{{ openerCount.reopenCount | number }} 회</p>
    </div>
    <div class="count-wrap">
        <h4 class="chart-title">평균 URL 접속 횟수</h4>
        <p>{{ openerCount.avgOpenCount | number:1 }} 회</p>
    </div>
</div>