<div id="openerCountDiagram">
    <button type="button" class="detail" data-ng-click="openDetailOpenerCountDiagram()"></button>
    <div class="half">
        <h4 class="chart-title">열람자 수</h4>
        <div class="diagram-wrap margin-top-24">
            <canvas id="chartOpenCount" ready></canvas>
        </div>
        <div class="legend-wrap">
            <span>열람자 수: {{openerCountLabelForm.openerCount | number}}</span><br/>
            <span>비열람자 수: {{openerCountLabelForm.notOpenCount | number}}</span>
        </div>
    </div>
    <div class="half">
        <h4 class="chart-title">재열람자 수</h4>
        <div class="diagram-wrap margin-top-24">
            <canvas id="chartReopenCount" ready></canvas>
        </div>
        <div class="legend-wrap">
            <span>재열람자 수: {{openerCountLabelForm.reopenCount | number}}</span><br/>
            <span>비재열람자 수: {{openerCountLabelForm.notReopenCount | number}}</span>
        </div>
    </div>
</div>