<div id="pageCountDiagram">
    <button type="button" class="detail" data-ng-click="openDetailPageCountDiagram()"></button>
    <h4 class="chart-title">페이지별 총 열람 기록</h4>
    <div class="diagram-wrap">
        <canvas id="chartPageCountDiagram" ready></canvas>
    </div>
</div>