<div id="pageTimeDiagram">
    <button type="button" class="detail" data-ng-click="openDetailPageTimeDiagram()"></button>
    <h4 class="chart-title">페이지별 총 체류시간 (초)</h4>
    <div class="diagram-wrap">
        <canvas id="chartPageTimeDiagram" ready></canvas>
    </div>
</div>