<div id="perHourCouponDiagram">
    <button type="button" class="detail" data-ng-click="openDetailPerHourCouponDiagram()"></button>
    <h4 class="chart-title">시간대별 쿠폰 사용량</h4>
    <div class="diagram-wrap">

    </div>
</div>