<div id="perDayCouponDiagram">
    <button type="button" class="detail" data-ng-click="openDetailPerDayCouponDiagram()"></button>
    <h4 class="chart-title">요일별 쿠폰 사용량</h4>
    <div class="diagram-wrap">

    </div>
</div>