<div id="perHourDiagram">
    <div class="chart-wrap">
        <button type="button" class="detail" data-ng-click="openDetailPerHourDiagram()"></button>
        <h4 class="chart-title">시간대별 접속량</h4>
        <div class="diagram-wrap">
            <canvas id="chartPetHourDiagram" ready></canvas>
        </div>
    </div>
    <div class="button-wrap">
        <button type="button" class="open" data-ng-class="{'active': isOpen.perHourDiagram}" data-ng-click="open('perHourDiagram')"><span>자세히 보기</span></button>
    </div>
    <div class="rows-wrap" data-ng-if="isOpen.perHourDiagram">
        <div class="list-wrap chart">
            <list-header class="mobile" headers="perHourDiagramScope.headers" events="perHourDiagramScope.events" order-bys="perHourDiagramScope.orderBys"></list-header>
        </div>
    </div>
</div>