<div id="perDayDiagram">
    <div class="chart-wrap">
        <button type="button" class="detail" data-ng-click="openDetailPerDayDiagram()"></button>
        <h4 class="chart-title">요일별 접속량</h4>
        <div class="diagram-wrap">
            <canvas id="chartPerDayDiagram" ready></canvas>
        </div>
    </div>
    <div class="button-wrap">
        <button type="button" class="open" data-ng-class="{'active': isOpen.perDayDiagram}" data-ng-click="open('perDayDiagram')"><span>자세히 보기</span></button>
    </div>
    <div class="rows-wrap" data-ng-if="isOpen.perDayDiagram">
        <div class="list-wrap chart">
            <list-header class="mobile" headers="perDayDiagramScope.headers" events="perDayDiagramScope.events" order-bys="perDayDiagramScope.orderBys"></list-header>
        </div>
    </div>
</div>