<div id="searchOptionWrap">
    <div id="labelWrap">
        <ul>
            <li data-ng-click="activeTab(1)" data-ng-class="{'active': currentTab == 1}">
                나이
            </li>
            <li data-ng-click="activeTab(2)" data-ng-class="{'active': currentTab == 2}">
                성별
            </li>
            <li data-ng-click="activeTab(3)" data-ng-class="{'active': currentTab == 3}">
                주소
            </li>
            <li data-ng-click="activeTab(4)" data-ng-class="{'active': currentTab == 4}">
                조건
            </li>
            <li data-ng-click="activeTab(5)" data-ng-class="{'active': currentTab == 5}">
                검색
            </li>
        </ul>
    </div>
    <div id="optionWrap">
        <ul>
            <li data-ng-class="{'active': currentTab == 1}">
                <check-box ng-model="form.ageTotal" ng-text="{{ '전체' }}" ng-func="checkAgeTotal"></check-box>
                <check-box ng-model="form.age20" ng-text="{{ '20대' }}" ng-func="checkAge20"></check-box>
                <check-box ng-model="form.age30" ng-text="{{ '30대' }}" ng-func="checkAge30"></check-box>
                <check-box ng-model="form.age40" ng-text="{{ '40대' }}" ng-func="checkAge40"></check-box>
                <check-box ng-model="form.age50" ng-text="{{ '50대 이상' }}" ng-func="checkAge50"></check-box>
                <check-box ng-model="form.ageNone" ng-text="{{ '없음' }}" ng-func="checkAgeNone"></check-box>
            </li>
            <li data-ng-class="{'active': currentTab == 2}">
                <check-box ng-model="form.genderTotal" ng-text="{{ '전체' }}" ng-func="checkGenderTotal"></check-box>
                <check-box ng-model="form.genderMale" ng-text="{{ '남자' }}" ng-func="checkGenderMale"></check-box>
                <check-box ng-model="form.genderFemale" ng-text="{{ '여자' }}" ng-func="checkGenderFemale"></check-box>
                <check-box ng-model="form.genderNone" ng-text="{{ '없음' }}" ng-func="checkGenderNone"></check-box>
            </li>
            <li data-ng-class="{'active': currentTab == 3}">
                <select-box ng-model="form.sido" ng-enum="enumSidos" ng-placeholder="{{ '시/도' }}"></select-box>
                <div class="select-wrap">
                    <select-box ng-model="form.sigungu" ng-enum="enumSigungus" ng-placeholder="{{ '시/군/구' }}"></select-box>
                </div>
                <!--<div class="select-wrap">-->
                    <!--<select-box ng-model="form.eupmyeondong" ng-enum="enumEupmyeondongs" ng-placeholder="{{ '읍/면/동' }}"></select-box>-->
                <!--</div>-->
            </li>
            <li data-ng-class="{'active': currentTab == 4}">
                <!--<div class="option-wrap">-->
                    <!--<span>수신 개수:</span>-->
                    <!--<input type="number" class="text" data-ng-model="form.receiverCount" placeholder="{{ '0' }}">-->
                    <!--<span>건 이상</span>-->
                <!--</div>-->
                <div class="option-wrap">
                    <span>열람 개수:</span>
                    <input type="number" class="text" data-ng-model="form.openCount" placeholder="{{ '0' }}">
                    <span>건 이상</span>
                </div>
            </li>
            <li data-ng-class="{'active': currentTab == 5}">
                <search-input ng-keyword="form.searchField"
                              ng-enum="enumSearchFields"
                              ng-value-key="value"
                              ng-text-key="text"
                              ng-keyword-placeholder="{{ '검색 필드' }}"
                              ng-item="form.searchItem"
                              ng-item-placeholder="{{ '검색어' }}"
                              ng-search="search"></search-input>
            </li>
        </ul>
    </div>
</div>
<div id="searchWrap">
    <div class="button-wrap">
        <button type="button" id="buttonSearch" class="orange" data-ng-click="search()">검색</button>
    </div>
    <div class="button-wrap">
        <button type="button" id="buttonRefresh" class="line" data-ng-click="refresh()">초기화</button>
    </div>
</div>