@import "../constant";
@import "../mixin";
@import "../animations";

$boxsizin_path: #{$stylesheets-path}#{'boxsizing.htc'};

* {
  box-sizing: border-box;
  *behavior: url($boxsizin_path);
}

html {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}
$background-image-path: #{$image-path}#{'background.png'};

body {
   position: relative;
   margin: 0;
   width: 100%;
   height: 100%;
   font-size: 14px;
   font-weight: 400;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   overflow-x: hidden;
   font-family: 'NanumGothic' !important;
   &.prevent-scroll {
     overflow-y: hidden;
     -webkit-overflow-scrolling: initial;
   }
 }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
}

button {
  border: 0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  font-family: 'NanumGothic' !important;
  background-color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

$placeholder-color: #D6D6D6;

:-ms-input-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

::-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

:-moz-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $placeholder-color;
  opacity: 1;
}

.vertical-align-wrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  .vertical-align {
    display: table-cell;
    vertical-align: middle;
  }
}

$close-button-path: '/pages/sign/assets/images/modal/close.png';

.modal-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,.5);
  overflow-y: auto;
  overflow-x: hidden;
  &.active {
    button.modal-close-button {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
    &.active {
      display: block;
    }
  }
  @media screen and (min-width: 769px) {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .3s, opacity .3s;
    -moz-transition: visibility .3s, opacity .3s;
    -ms-transition: visibility .3s, opacity .3s;
    -o-transition: visibility .3s, opacity .3s;
    transition: visibility .3s, opacity .3s;
    &.active {
      visibility: visible;
      opacity: 1;
      .modal-item {
        @include modal();
      }
    }
  }
  button.modal-close-button {
    position: absolute;
    display: none;
    padding: 0;
    width: 24px;
    height: 24px;
    z-index: 1;
    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -12px;
      width: 24px;
      height: 2px;
      background-color: black;
      content: "";
    }
    &:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}