@-webkit-keyframes modal-animation {
  0%    { -webkit-transform: translate3d(0, -30px, 0); opacity: 0; }
  100%  { -webkit-transform: translate3d(0, 0, 0); opacity: 1; }
}

@-moz-keyframes modal-animation {
  0%    { -moz-transform: translate3d(0, -30px, 0); opacity: 0; }
  100%  { -moz-: translate3d(0, 0, 0); opacity: 1; }
}

@-ms-keyframes modal-animation {
  0%    { -ms-transform: translate3d(0, -30px, 0); opacity: 0; }
  100%  { -ms-transform: translate3d(0, 0, 0); opacity: 1; }
}

@-o-keyframes modal-animation {
  0%    { -o-transform: translate3d(0, -30px, 0); opacity: 0; }
  100%  { -o-transform: translate3d(0, 0, 0); opacity: 1; }
}

@keyframes modal-animation {
  0%    { transform: translate3d(0, -30px, 0); opacity: 0; }
  100%  { transform: translate3d(0, 0, 0); opacity: 1; }
}

@mixin modal () {
  -webkit-animation: .3s modal-animation forwards;
  -moz-animation: .3s modal-animation forwards;
  -ms-animation: .3s modal-animation forwards;
  -o-animation: .3s modal-animation forwards;
  animation: .3s modal-animation forwards;
}