<div id="countWrap">
    <p>결과 {{ receivers.count | number }}건</p>
    <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
    <button type="button" id="buttonSubmitReceiver" class="orange" data-ng-click="openSubmitReceiver()">수신자 등록</button>
</div>
<div id="rowsWrap">
    <div class="list-wrap">
        <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
        <ul class="list-content">
            <li data-ng-repeat="item in receivers.rows" data-ng-click="openUpdateReceiver(item, $index)">
                <div>{{ item.serialNum }}</div>
                <div>{{ item.key }}</div>
                <div>{{ item.phoneNum }}</div>
                <div class="center-wrap"><button type="button" class="list" data-ng-click="openReceiverGroup(item);$event.stopPropagation();">{{ item.groupCount | number }}회</button></div>
                <div class="center-wrap"><button type="button" class="list" data-ng-click="openSentCount(item);$event.stopPropagation();">{{ item.sentCount | number }}회</button></div>
                <div class="center-wrap">{{ item.createdAt | date: 'yyyy-MM-dd' }}</div>
            </li>
        </ul>
    </div>
    <div class="page-number-wrap" data-ng-if="receivers.rows.length">
        <page-number size="form.size"
                     total="receivers.count"
                     current-page-string="{{ form.size | returnPage: form.offset }}"
                     func="goPage"></page-number>
    </div>
</div>