<div id="searchOptionWrap">
    <div id="labelWrap">
        <ul>
            <li data-ng-click="activeTab(1)" data-ng-class="{'active': currentTab == 1}">
                그룹
            </li>
            <li data-ng-click="activeTab(2)" data-ng-class="{'active': currentTab == 2}">
                등록일
            </li>
            <li data-ng-click="activeTab(3)" data-ng-class="{'active': currentTab == 3}">
                주소
            </li>
            <li data-ng-click="activeTab(4)" data-ng-class="{'active': currentTab == 4}">
                성별
            </li>
            <li data-ng-click="activeTab(5)" data-ng-class="{'active': currentTab == 5}">
                나이
            </li>
            <li data-ng-click="activeTab(6)" data-ng-class="{'active': currentTab == 6}">
                검색
            </li>
        </ul>
    </div>
    <div id="optionWrap">
        <ul>
            <li data-ng-class="{'active': currentTab == 1}">
                <select-box ng-model="form.receiverGroupId" ng-enum="receiverGroups.rows" ng-value-key="id" ng-text-key="groupName" ng-placeholder="{{ '그룹명' }}"></select-box>
            </li>
            <li data-ng-class="{'active': currentTab == 2}">
                <datepicker date-format="yyyy-MM-dd" datepicker-mobile="true">
                    <input type="text" class="date" data-ng-model="form.startDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                </datepicker>
                <div class="water-wrap">
                    ~
                </div>
                <datepicker date-format="yyyy-MM-dd" datepicker-mobile="true" datepicker-class="position-right">
                    <input type="text" class="date" data-ng-model="form.endDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                </datepicker>
            </li>
            <li data-ng-class="{'active': currentTab == 3}">
                <select-box ng-model="form.sido" ng-enum="enumSidos" ng-placeholder="{{ '시/도' }}"></select-box>
                <div class="select-wrap">
                    <select-box ng-model="form.sigungu" ng-enum="enumSigungus" ng-placeholder="{{ '시/군/구' }}"></select-box>
                </div>
                <div class="select-wrap">
                    <select-box ng-model="form.eupmyeondong" ng-enum="enumEupmyeondongs" ng-placeholder="{{ '읍/면/동' }}"></select-box>
                </div>
            </li>
            <li data-ng-class="{'active': currentTab == 4}">
                <check-box ng-model="form.genderTotal" ng-text="{{ '전체' }}" ng-func="checkGenderTotal"></check-box>
                <check-box ng-model="form.genderMale" ng-text="{{ '남자' }}" ng-func="checkGenderMale"></check-box>
                <check-box ng-model="form.genderFemale" ng-text="{{ '여자' }}" ng-func="checkGenderFemale"></check-box>
                <check-box ng-model="form.genderNone" ng-text="{{ '없음' }}" ng-func="checkGenderNone"></check-box>
            </li>
            <li data-ng-class="{'active': currentTab == 5}">
                <check-box ng-model="form.ageTotal" ng-text="{{ '전체' }}" ng-func="checkAgeTotal"></check-box>
                <check-box ng-model="form.age20" ng-text="{{ '20대' }}" ng-func="checkAge20"></check-box>
                <check-box ng-model="form.age30" ng-text="{{ '30대' }}" ng-func="checkAge30"></check-box>
                <check-box ng-model="form.age40" ng-text="{{ '40대' }}" ng-func="checkAge40"></check-box>
                <check-box ng-model="form.age50" ng-text="{{ '50대 이상' }}" ng-func="checkAge50"></check-box>
                <check-box ng-model="form.ageNone" ng-text="{{ '없음' }}" ng-func="checkAgeNone"></check-box>
            </li>
            <li data-ng-class="{'active': currentTab == 6}">
                <search-input ng-keyword="form.searchField"
                              ng-enum="enumSearchFields"
                              ng-keyword-placeholder="{{ '검색 필드' }}"
                              ng-item="form.searchItem"
                              ng-item-placeholder="{{ '검색어' }}"></search-input>
            </li>
        </ul>
    </div>
</div>
<div id="searchWrap">
    <div class="button-wrap">
        <button type="button" id="buttonSearch" class="orange" data-ng-click="search()">검색</button>
    </div>
    <div class="button-wrap">
        <button type="button" id="buttonRefresh" class="line" data-ng-click="refresh()">초기화</button>
    </div>
</div>