#messageManageWrap {
    #countWrap {
        @media screen and (min-width: 601px) {
            select-box {
                position: absolute;
                top: 16px;
                right: 122px;
                width: 80px;
                height: 34px;

                select.select {
                    font-size: 12px;
                }
            }
            #buttonSubmitMessage {
                position: absolute;
                top: 16px;
                right: 24px;
                width: 90px;
                height: 34px;
                line-height: 34px;
                font-size: 12px;
            }
        }
        @media screen and (max-width: 600px) {
            #buttonSubmitMessage {
                position: fixed;
                bottom: 0;
                left: 0;
                border-radius: 0;
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                font-weight: bold;
                z-index: $z-index-message-manage-button-mobile;
            }
        }
    }

    #rowsWrap {
        @media screen and (min-width: 601px) {
            div.list-wrap {
                list-header {
                    ul {
                        li {
                            width: 12.5%;
                            &:first-of-type, &:nth-of-type(3) {
                                width: 10%;
                            }

                            &:nth-of-type(2) {
                                width: 13.5%;
                            }

                            &:nth-of-type(7), &:nth-of-type(8) {
                                width: 12%;
                            }
                        }
                    }
                }

                ul.list-content {
                    li {
                        cursor: pointer;

                        & > div {
                            width: 12.5%;
                            &:first-of-type, &:nth-of-type(3) {
                                width: 10%;
                            }

                            &:nth-of-type(2) {
                                width: 13.5%;
                            }

                            &:nth-of-type(7), &:nth-of-type(8) {
                                width: 12%;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 600px) {
            div.list-wrap {
                ul.list-content {
                    li {
                        div {
                            float: none;
                        }
                        div:first-of-type {
                            display: inline-block;
                            padding: 4px 16px;
                            background-color: $mobile-id-bg-color;
                            color: $mobile-id-color;
                            border-radius: 50px;
                            margin-bottom: 16px;
                            margin-right: 8px;
                        }
                        div:nth-of-type(2) {
                            display: inline-block;
                            padding: 4px 16px;
                            border-radius: 50px;
                            background-color: $orange;
                            color: #fff;
                        }
                        div:nth-of-type(3) {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 12px;
                        }

                        div:nth-of-type(4), div:nth-of-type(5),
                        div:nth-of-type(7), div:nth-of-type(8) {
                            margin-bottom: 6px;
                            font-size: 14px;
                        }
                    }

                    .mobile-btn-wrap {
                        ul {
                            li {
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}