<article id="dialogWrap" data-ng-controller="DialogCtrl" tabindex="0">
    <div id="dialogOverlay" data-ng-class="{'active': isOpen}">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div id="dialog" class="modal">
                    <p data-ng-bind-html="text | trustAsHtml"></p>
                    <div class="button-container">
                        <div class="button-wrap" data-ng-if="cancelText">
                            <button type="button" class="grey" data-ng-click="cancel()">
                                {{ cancelText }}
                            </button>
                        </div>
                        <div class="button-wrap" data-ng-if="submitText">
                            <button type="button" class="orange" data-ng-click="submit()">
                                {{ submitText }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>