<header id="header" data-ng-controller="HeaderCtrl">
    <div id="logoBox">
        <button data-ng-click="goToIndex()">
            <i></i>
        </button>
    </div>
    <div id="accountBox">
        <p>{{ session.name }}</p>
        <ul>
            <li data-ng-click="openMyInfo()">
                <span>내 정보</span>
            </li>
            <li data-ng-click="signOut()">
                <span>로그아웃</span>
            </li>
        </ul>
    </div>
    <button id="toggleHeader" type="button" data-ng-click="toggle()">
        <i></i>
    </button>
</header>