<article id="loadingHandler" data-ng-controller="LoadingCtrl" tabindex="0">
    <div id="loadingOverlay" data-ng-class="{'active': isOpen}">
        <div class="vertical-align-wrap">
            <div class="vertical-align">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                <p class="loading-text" data-ng-if="loadingText">{{loadingText}}</p>
            </div>
        </div>
    </div>
</article>