<nav id="navigation" data-ng-controller="NavigationCtrl" data-ng-class="{'active': vm.toggleNav}" data-ng-click="toggle();">
    <div id="accountContent" data-ng-click="$event.stopPropagation()"></div>
    <div id="navigationContent" data-ng-click="$event.stopPropagation()">
        <button id="navigationToggle" type="button" data-ng-click="$event.stopPropagation();toggle();">
            <i></i>
            <i></i>
        </button>
        <h2>기능</h2>
        <hr>
        <ul>
            <li data-ng-if="possibleAdministrationRoles[vm.session.role]" data-ng-class="{'active': vm.state == 'userManage'}" data-ng-click="$event.stopPropagation();goToUserManage()">
                <i></i>
                사용자 관리
            </li>
            <li data-ng-class="{'active': vm.state == 'receiverGroupManage'}" data-ng-click="$event.stopPropagation();goToReceiverGroupManage()">
                <i></i>
                발송 그룹 관리
            </li>

            <li data-ng-class="{'active': vm.state == 'messageManage'}" data-ng-click="$event.stopPropagation();goToMessageManage()">
                <i></i>
                발송 메시지 관리
            </li>

            <!--<li data-ng-class="{'active': vm.state == 'receiverManage'}" data-ng-click="$event.stopPropagation();goToReceiverManage()">-->
                <!--<i></i>-->
                <!--수신자 관리-->
            <!--</li>-->
            <!--<li data-ng-class="{'active': vm.state == 'sendManage'}" data-ng-click="$event.stopPropagation();goToSendManage()">-->
                <!--<i></i>-->
                <!--발송 등록-->
            <!--</li>-->
            <li data-ng-class="{'active': vm.state == 'calculationManage'}" data-ng-click="$event.stopPropagation();goToCalculationManage()">
                <i></i>
                정산 관리
            </li>
        </ul>
        <h2>분석</h2>
        <hr>
        <ul>
            <li data-ng-class="{'active': vm.state == 'sendAnalysis'}" data-ng-click="$event.stopPropagation();goToSendAnalysis()">
                <i></i>
                발송 분석
            </li>
            <li data-ng-class="{'active': vm.state == 'senderAnalysis'}" data-ng-click="$event.stopPropagation();goToSenderAnalysis()">
                <i></i>
                발송자 분석
            </li>
        </ul>
    </div>
</nav>