<header id="subHeader" data-ng-controller="SubHeaderCtrl">
    <button id="toggleSubHeader" type="button" data-ng-click="toggle()"></button>
    <h3>{{ vm.groupTitle.title }}</h3>
    <h2>{{ vm.groupTitle.group }}</h2>
</header>