#detailPerHourCouponDiagramWrap {

}

#detailPerHourCouponDiagram {
  position: relative;
  background-color: white;
  left: 50%;
  margin-left: -300px;
  border-radius: 4px;
  padding: 32px;
  width: 600px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}