#detailPageCountDiagramWrap {

}

#detailPageCountDiagram {
    position: relative;
    background-color: white;
    @media screen and (min-width: 601px) {
        left: 50%;
        margin-left: -300px;
        border-radius: 4px;
        padding: 32px;
        width: 600px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 600px) {
        padding: 24px 16px;
        width: 100%;
        min-height: 100vh;
    }

    @import "../components/chart-modal-table";
    div.rows-wrap {
        @media screen and (min-width: 601px) {
            list-header {
                ul {
                    li {
                        width: 50%;
                    }
                }
            }
            ul.list-content {
                li {
                    & > div {
                        width: 50%;
                    }
                }
            }
        }
    }
}