#detailHourDiagramWrap {

}

#detailHourDiagram {
    position: relative;
    background-color: white;
    @media screen and (min-width: 601px) {
        left: 50%;
        margin-left: -300px;
        border-radius: 4px;
        padding: 32px;
        width: 600px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 600px) {
        padding: 24px 16px;
        width: 100%;
        min-height: 100vh;
    }

    div.select-wrap {
        position: relative;
        margin-top: 24px;

        select-box {
            width: 100%;
        }
    }

    div.rows-wrap {
        @media screen and (min-width: 601px) {
            margin-top: 16px;
            list-header {
                ul {
                    li {
                        width: 50%;
                    }
                }
            }
            ul.list-content {
                li {
                    & > div {
                        width: 50%;
                        span.key {
                            display: none;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 600px) {
            // todo mobile list
            ul.list-content {
                margin-top: 24px;
                border-top: 1px solid #eee;
                li {
                    font-size: 0;
                    padding: 16px;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    &:nth-of-type(even) {
                        background-color: #fff;
                    }
                    div {
                        font-size: 14px;
                        &:first-of-type {
                            span.val {
                                display: none;
                            }
                        }
                        &:nth-of-type(2) {
                            span.key {
                                display: none;
                            }
                        }
                    }
                    span {
                        display: inline-block;
                        &.key {
                            position: absolute;
                            top: 16px;
                            left: 16px;
                            font-weight: bold;
                        }
                        &.val {
                            width: 100%;
                            padding-left: 128px;
                        }
                    }
                }
            }
        }
    }
}