#insertPhoneNumWrap {

}

#insertPhoneNum {
  position: relative;
  background-color: white;
  @media screen and (min-width: 601px) {
    left: 50%;
    margin-left: -200px;
    border-radius: 4px;
    padding: 32px;
    width: 400px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 600px) {
    left: 50%;
    margin-left: -160px;
    border-radius: 4px;
    padding: 24px;
    width: 320px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  }
  div.button-wrap {
    position: relative;
    @include after-clear();
    @media screen and (min-width: 601px) {
      margin-top: 48px;
    }
    @media screen and (max-width: 600px) {
      margin-top: 40px;
    }
    button {
      width: 80px;
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      font-weight: bold;
      float: right;
    }
  }
}