#receiverGroupWrap {

}

#receiverGroup {
    position: relative;
    background-color: white;
    @media screen and (min-width: 601px) {
        left: 50%;
        margin-left: -300px;
        border-radius: 4px;
        padding: 32px;
        width: 600px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 600px) {
        padding: 24px 16px;
        width: 100%;
        min-height: 100vh;
    }

    div.count-wrap {
        position: relative;
        margin-top: 24px;
        @media screen and (min-width: 601px) {
            p {
                height: 34px;
                line-height: 34px;
                font-size: 13px;
                color: $grey;
            }
            #buttonRegisterReceiverGroup {
                position: absolute;
                top: 0;
                right: 0;
                width: 90px;
                height: 34px;
                line-height: 34px;
                font-size: 12px;
            }
        }
        @media screen and (max-width: 600px) {
            #buttonRegisterReceiverGroup {
                position: fixed;
                bottom: 0;
                left: 0;
                border-radius: 0;
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                font-weight: bold;
                z-index: $z-index-register-receiver-group-button-mobile;
            }
        }
    }

    div.rows-wrap {
        @media screen and (min-width: 601px) {
            margin-top: 16px;
            list-header {
                ul {
                    li {
                        width: 25%;
                    }
                }
            }
            ul.list-content {
                li {
                    & > div {
                        width: 25%;
                    }
                }
            }
        }
        @media screen and (max-width: 600px) {
            // todo mobile list
        }
    }
}