#selectFunctionWrap {

}

#selectFunction {
  position: relative;
  background-color: white;
  @media screen and (max-width: 600px) {
    left: 50%;
    margin-left: -160px;
    border-radius: 4px;
    padding: 24px;
    width: 320px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  }
  div.radio-wrap {
    margin-top: 24px;
  }
  radio-box {
    height: 48px;
    line-height: 48px;
    div.radio-box-wrap {
      &.active {
        span {
          color: $dark-grey;
        }
      }
    }
  }
  div.button-wrap {
    position: relative;
    margin-top: 24px;
    @include after-clear();
    button {
      width: 80px;
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      font-weight: bold;
      float: right;
    }
  }
}