#selectSendTypeWrap {

}

#selectSendType {
  position: relative;
  background-color: white;
  @media screen and (min-width: 601px) {
    left: 50%;
    margin-left: -200px;
    border-radius: 4px;
    padding: 32px;
    width: 400px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 600px) {
    left: 50%;
    margin-left: -160px;
    border-radius: 4px;
    padding: 24px;
    width: 320px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  }
  div.input-wrap {
    select-box {
      width: 100%;
      height: 40px;
      line-height: 40px;
      float: left;
      select.select {
        font-size: 16px;
      }
    }
    input.date {
      height: 40px;
      font-size: 16px;
    }
    div.half {
      margin-top: 8px;
      &:nth-of-type(2) {
        padding-left: 0;
        padding-right: 4px;
      }
      &:nth-of-type(3) {
        padding-left: 4px;
      }
    }
  }
  div.radio-wrap {
    margin-top: 24px;
  }
  radio-box {
    height: 48px;
    line-height: 48px;
    width: 50%;
    float: left;
    div.radio-box-wrap {
      &.active {
        span {
          color: $dark-grey;
        }
      }
    }
  }
  div.button-wrap {
    position: relative;
    margin-top: 24px;
    @include after-clear();
    button {
      width: 80px;
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      font-weight: bold;
      float: right;
    }
  }
}