#sentCountWrap {

}

#sentCount {
    position: relative;
    background-color: white;
    @media screen and (min-width: 601px) {
        left: 50%;
        margin-left: -250px;
        border-radius: 4px;
        padding: 32px;
        width: 500px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 600px) {
        padding: 24px 16px;
        width: 100%;
        min-height: 100vh;
    }

    div.count-wrap {
        position: relative;
        margin-top: 24px;
        @media screen and (min-width: 601px) {
            p {
                height: 34px;
                line-height: 34px;
                font-size: 13px;
                color: $grey;
            }
        }
    }

    div.rows-wrap {
        @media screen and (min-width: 601px) {
            margin-top: 16px;
            list-header {
                ul {
                    li {
                        width: 33.333%;
                    }
                }
            }
            ul.list-content {
                li {
                    & > div {
                        width: 33.333%;
                    }
                }
            }
        }
        @media screen and (max-width: 600px) {
            // todo mobile list
        }
    }
}