#sentManageWrap {

}

#sentManage {
    position: relative;
    background-color: white;
    @media screen and (min-width: 601px) {
        left: 50%;
        margin-left: -250px;
        border-radius: 4px;
        padding: 32px;
        width: 500px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    }
    @media screen and (max-width: 600px) {
        padding: 24px 16px;
        width: 100%;
        min-height: 100vh;
    }

    ul#sentManageBtnWrap {
        margin-top: 32px;

        li {
            display: block;
            padding: 16px 0;
            border-bottom: 1px solid #DDDDDD;

            &:last-of-type {
                border-bottom: 0;
            }

            & > label {
                font-size: 16px;
                font-weight: bold;
            }

            p.btn-description {
                margin-top: 12px;
                line-height: 1.34;
                color: #888;
            }

            .btn-wrap {
                margin-top: 16px;
                text-align: right;
            }

            button {
                width: 100px;
                height: 32px;
            }
        }

        @media screen and (min-width: 601px) {
        }

        @media screen and (max-width: 600px) {

        }
    }

    div.input-wrap {
        margin-top: 16px;
        margin-bottom: 16px;
        select-box {
            width: 100%;
            height: 40px;
            line-height: 40px;
            float: left;

            select.select {
                font-size: 16px;
            }
        }

        input.date {
            height: 40px;
            font-size: 16px;
        }

        div.mobile-half {
            &:nth-of-type(2) {
                padding-left: 0;
            }

            @media screen and (max-width: 600px) {
                margin-top: 8px;
                label.label {
                    display: none;
                }
            }
        }
    }
}