#submitReceiverWrap {

}

#submitReceiver {
  position: relative;
  background-color: white;
  @media screen and (min-width: 601px) {
    left: 50%;
    margin-left: -250px;
    border-radius: 4px;
    padding: 32px;
    width: 500px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 600px) {
    padding: 24px 16px;
    width: 100%;
    min-height: 100vh;
  }
  div.input-wrap {
    select-box {
      width: 100%;
      height: 40px;
      float: left;
      select.select {
        font-size: 16px;
      }
    }
    radio-box {
      width: 50%;
      float: left;
    }
    div.file-drop-wrap {
      @media screen and (min-width: 601px) {
        width: 100%;
        float: left;
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    div.file-button {
      @media screen and (min-width: 601px) {
        display: none;
      }
    }
    div.mobile-half {
      @media screen and (max-width: 600px) {
        margin-top: 8px;
        &:nth-of-type(2) {
          padding-right: 4px;
          padding-left: 0;
        }
        &:nth-of-type(3) {
          padding-left: 4px;
          padding-right: 0;
        }
      }
    }
  }
  div.button-wrap {
    @media screen and (min-width: 601px) {
      margin-top: 32px;
      @include after-clear();
      button {
        width: 80px;
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        font-weight: bold;
        float: right;
      }
    }
    @media screen and (max-width: 600px) {
      button {
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        z-index: 30;
      }
    }
  }
}