#dialogWrap {

}

#dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-dialog;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: hidden;
    overflow-x: hidden;
    @media screen and (min-width: 769px) {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s, opacity 0s;
        -moz-transition: visibility 0s, opacity 0s;
        -ms-transition: visibility 0s, opacity 0s;
        -o-transition: visibility 0s, opacity 0s;
        transition: visibility 0s, opacity 0s;
        &.active {
            visibility: visible;
            opacity: 1;
            -webkit-transition: visibility .3s, opacity .3s;
            -moz-transition: visibility .3s, opacity .3s;
            -ms-transition: visibility .3s, opacity .3s;
            -o-transition: visibility .3s, opacity .3s;
            transition: visibility .3s, opacity .3s;

            .modal {
                @include modal();
            }
        }
    }
    @media screen and (max-width: 768px) {
        display: none;
        &.active {
            display: block;
        }
    }
}

#dialog {
    position: relative;
    left: 50%;
    border-radius: 4px;
    padding: 32px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    background-color: white;
    @media screen and (min-width: 601px) {
        margin-left: -180px;
        width: 360px;
    }
    @media screen and (max-width: 600px) {
        margin-left: -160px;
        width: 320px;
    }

    p {
        font-size: 16px;
        text-align: center;
        color: $dark-grey;
    }

    div.button-container {
        position: relative;
        margin-top: 20px;
        @include after-clear();
        @media screen and (min-width: 601px) {
            padding: 0 36px;
        }
        @media screen and (max-width: 600px) {
            padding: 0 16px;
        }

        div.button-wrap {
            width: 50%;
            text-align: center;
            float: left;

            &:last-child:first-child {
                width: 100%;
            }

            button {
                width: 100px;
                height: 34px;
                line-height: 34px;
                font-size: 12px;
            }
        }
    }
}