$page-path: #{$image-path}#{'header/'};

$height-header: 40px;
$height-header-mobile: 60px;

$logo-analytics-path: #{$page-path}#{'logo-analytics.png'};
$logo-analytics-mobile-path: #{$page-path}#{'logo-analytics-mobile.png'};
$logo-dimsy-path: #{$page-path}#{'logo-analytics.png'};

$ic-toggle-path: #{$page-path}#{'toggle.png'};
$ic-triangle-path: #{$page-path}#{'triangle.png'};

$color-line: #dadada;

header#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    z-index: $z-index-header;
    @include after-clear();
    @media screen and (min-width: 601px) {
        height: $height-header;
    }
    @media screen and (max-width: 600px) {
        height: $height-header-mobile;
    }

    div#logoBox {
        position: relative;
        border-right: 1px solid $color-line;
        height: 100%;
        float: left;
        @include after-clear();
        @media screen and (min-width: 601px) {
            //width: 81px;
        }
        @media screen and (max-width: 600px) {
            width: 61px;
        }

        button {
            position: relative;
            height: 100%;
            cursor: pointer;
            float: left;
            @media screen and (min-width: 601px) {
                width: 40px;
            }
            @media screen and (max-width: 600px) {
                width: 60px;
            }

            i {
                position: absolute;
                @include background();
                @media screen and (min-width: 601px) {
                    top: 8px;
                    left: 8px;
                    width: 24px;
                    height: 23px;
                }
                @media screen and (max-width: 600px) {
                    top: 14px;
                    left: 14px;
                    width: 32px;
                    height: 31px;
                }
            }

            &:nth-of-type(1) {
                i {
                    @media screen and (min-width: 601px) {
                        background-image: url($logo-analytics-path);
                    }
                    @media screen and (max-width: 600px) {
                        background-image: url($logo-analytics-mobile-path);
                    }
                }
            }

            &:nth-of-type(2) {
                @media screen and (max-width: 600px) {
                    display: none;
                }

                i {
                    background-image: url($logo-dimsy-path);
                }
            }
        }

        hr {
            @media screen and (min-width: 601px) {
                position: absolute;
                top: 8px;
                left: 40px;
                margin: 0;
                border: 0;
                width: 1px;
                height: 24px;
                background-color: $color-line;
                z-index: 1;
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }

    #accountBox {
        @media screen and (min-width: 601px) {
            position: relative;
            border-left: 1px solid $color-line;
            padding: 0 30px 0 16px;
            height: 100%;
            cursor: pointer;
            float: right;
            background-position: right 16px center;
            background-repeat: no-repeat;
            background-image: url($ic-triangle-path);
            background-size: 7px;
            &:hover {
                ul {
                    visibility: visible;
                    opacity: 1;
                }
            }
            p {
                min-width: 60px;
                line-height: $height-header;
                font-size: 11px;
                color: #7E7E7E;
                text-align: center;
            }
            ul {
                position: absolute;
                top: $height-header;
                left: 0;
                width: 100%;
                background-color: white;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                visibility: hidden;
                opacity: 0;
                -webkit-transition: visibility .1s, opacity .1s;
                -moz-transition: visibility .1s, opacity .1s;
                -ms-transition: visibility .1s, opacity .1s;
                -o-transition: visibility .1s, opacity .1s;
                transition: visibility .1s, opacity .1s;

                li {
                    border-top: 1px solid $color-line;
                    height: $height-header;
                    line-height: $height-header;
                    font-size: 11px;
                    color: #7E7E7E;
                    text-align: center;

                    span {
                        cursor: pointer;
                    }

                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    #toggleHeader {
        @media screen and (min-width: 601px) {
            display: none;
        }
        @media screen and (max-width: 600px) {
            position: relative;
            width: 68px;
            height: 60px;
            float: right;
            i {
                position: absolute;
                top: 20px;
                left: 22px;
                width: 24px;
                height: 20px;
                @include background();
                background-image: url($ic-toggle-path);
            }
        }
    }
}