#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-dialog;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: hidden;
    overflow-x: hidden;
    .vertical-align {
        text-align: center;
    }
    @media screen and (min-width: 769px) {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s, opacity 0s;
        -moz-transition: visibility 0s, opacity 0s;
        -ms-transition: visibility 0s, opacity 0s;
        -o-transition: visibility 0s, opacity 0s;
        transition: visibility 0s, opacity 0s;
        &.active {
            visibility: visible;
            opacity: 1;
            -webkit-transition: visibility .3s, opacity .3s;
            -moz-transition: visibility .3s, opacity .3s;
            -ms-transition: visibility .3s, opacity .3s;
            -o-transition: visibility .3s, opacity .3s;
            transition: visibility .3s, opacity .3s;

            .modal {
                @include modal();
            }
        }
    }
    @media screen and (max-width: 768px) {
        display: none;
        &.active {
            display: block;
        }
    }

    .loading-text {
        margin-top: 16px;
        font-size: 16px;
        color: #fff;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}