nav#navigation {
  @media screen and (min-width: 991px) {
    position: fixed;
    top: 190px;
    left: 0;
    padding: 24px 0 190px 24px;
    width: 186px;
    height: 100%;
  }
  @media screen and (min-width: 601px) and (max-width: 990px) {
    position: fixed;
    top: 40px;
    left: 0;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    transition: visibility .3s, left 0s .3s,-webkit-transform .3s, opacity .3s;
    transition: visibility .3s, transform .3s,left 0s .3s, opacity .3s;
    transition: visibility .3s, transform .3s,left 0s .3s,-webkit-transform .3s, opacity .3s;
    z-index: $z-index-navigation;
    visibility: hidden;
    opacity: 0;
    &.active {
      left: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      transition: visibility .3s, left 0s 0s,-webkit-transform .3s;
      transition: visibility .3s, transform .3s,left 0s 0s;
      transition: visibility .3s, transform .3s,left 0s 0s,-webkit-transform .3s;
      visibility: visible;
      opacity: 1;
    }
  }
  @media screen and (max-width: 600px) {
    position: fixed;
    top: 60px;
    right: 0;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    transition: visibility .3s, left 0s .3s,-webkit-transform .3s, opacity .3s;
    transition: visibility .3s, transform .3s,left 0s .3s, opacity .3s;
    transition: visibility .3s, transform .3s,left 0s .3s,-webkit-transform .3s, opacity .3s;
    z-index: $z-index-navigation;
    visibility: hidden;
    opacity: 0;
    &.active {
      left: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      transition: visibility .3s, left 0s 0s,-webkit-transform .3s;
      transition: visibility .3s, transform .3s,left 0s 0s;
      transition: visibility .3s, transform .3s,left 0s 0s,-webkit-transform .3s;
      visibility: visible;
      opacity: 1;
    }
  }
  #accountContent {
    @media screen and (min-width: 601px) {
      display: none;
    }
    @media screen and (max-width: 600px) {

    }
  }
  #navigationContent {
    @media screen and (min-width: 601px) and (max-width: 990px) {
      position: relative;
      padding: 72px 16px 24px 16px;
      width: 160px;
      height: 100%;
      background-color: white;
      box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.16);
    }
    @media screen and (max-width: 600px) {
      position: absolute;
      top: 0;
      right: 0;
      padding: 24px;
      width: 300px;
      height: 100%;
      background-color: white;
      box-shadow: -4px 4px 9px rgba(0, 0, 0, 0.09);
    }
  }
  #navigationToggle {
    @media screen and (min-width: 991px) {
      display: none;
    }
    @media screen and (min-width: 601px) and (max-width: 990px) {
      position: absolute;
      top: 24px;
      left: 16px;
      width: 20px;
      height: 20px;
      z-index: 1;
      &:before,
      &:after {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -1px;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: $dark-orange;
        content: "";
      }
      &:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  h2 {
    margin: 40px 0 0 0;
    font-size: 10px;
    font-weight: bold;
    color: $light-black;
    &:nth-of-type(1) {
      margin: 0;
    }
  }
  hr {
    margin: 8px 0 0 0;
    border: 0;
    height: 1px;
    background-color: rgba(221, 221, 221, 0.98);
    @media screen and (min-width: 991px) {
      display: none;
    }
  }
  ul {
    position: relative;
    margin-top: 2px;
    li {
      position: relative;
      padding-left: 32px;
      height: 48px;
      line-height: 48px;
      font-weight: bold;
      color: #777777;
      cursor: pointer;
      &.active {
        color: $dark-orange;
        i {
          background-color: $dark-orange;
        }
      }
      @media screen and (min-width: 601px) {
        font-size: 12px;
      }
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
      i {
        position: absolute;
        top: 14px;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #eaeaea;
      }
    }
  }
}