$page-path: #{$image-path}#{'sub-header/'};

$ic-toggle-path: #{$page-path}#{'toggle.png'};

header#subHeader {
  background: linear-gradient(79.02deg, #EF4C20 0%, #FF9A3C 132.22%);
  @media screen and (min-width: 991px) {
    position: fixed;
    top: 40px;
    left: 0;
    padding: 50px 24px;
    width: 100%;
    height: 150px;
    z-index: $z-index-sub-header-pc;
  }
  @media screen and (min-width: 601px) and (max-width: 990px) {
    position: fixed;
    top: 40px;
    left: 0;
    padding: 24px;
    width: 100%;
    height: 170px;
    z-index: $z-index-sub-header-pc;
  }
  @media screen and (max-width: 600px) {
    position: fixed;
    top: 60px;
    left: 0;
    padding: 24px;
    width: 100%;
    height: 100px;
    z-index: $z-index-sub-header-mobile;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  #toggleSubHeader {
    @media screen and (min-width: 991px) {
      display: none;
    }
    @media screen and (min-width: 601px) and (max-width: 990px) {
      width: 28px;
      height: 28px;
      cursor: pointer;
      @include background();
      background-image: url($ic-toggle-path);
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    @media screen and (min-width: 601px) and (max-width: 990px) {
      margin-top: 24px;
    }
    @media screen and (max-width: 600px) {
      font-size: 24px;
    }
  }
  h2 {
    margin: 0;
    font-size: 12px;
    color: rgba(248, 248, 248, 0.8);
    @media screen and (min-width: 991px) {
      margin-top: 8px;
    }
    @media screen and (min-width: 601px) and (max-width: 990px) {
      margin-top: 8px;
    }
    @media screen and (max-width: 600px) {
      margin-top: 8px;
      font-size: 14px;
    }
  }
}