#sign-up-wrap {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .vertical-align-wrap {
    @media screen and (max-width: 768px) {
      display: block;
    }
    .vertical-align {
      @media screen and (max-width: 768px) {
        display: block;
        padding-bottom: 50px;
        height: 100%;
      }
    }
  }
}

#sign-up {
  position: relative;
  background-color: white;
  @media screen and (min-width: 769px) {
    margin: 0 auto;
    padding: 32px;
    width: 500px;
  }
  @media screen and (max-width: 768px) {
    padding: 24px 16px;
    height: 100%;
    overflow-y: auto;
  }
  p.title {
    font-weight: bold;
    @media screen and (min-width: 769px) {
      height: 28px;
      line-height: 28px;
      font-size: 24px;
    }
    @media screen and (max-width: 768px) {
      height: 23px;
      line-height: 23px;
      font-size: 20px;
    }
  }
  button.modal-close-button {
    @media screen and (min-width: 769px) {
      top: 32px;
      right: 32px;
    }
    @media screen and (max-width: 768px) {
      top: 22px;
      right: 16px;
    }
  }
  form {
    @include after-clear();
  }
  div.input-wrap {
    margin-top: 40px;
    width: 100%;
    float: left;
    @include after-clear();
    label {
      display: block;
      width: 100%;
      height: 14px;
      line-height: 14px;
      font-size: 12px;
      color: #7C7C7C;
      float: left;
    }
    input {
      border-bottom: 1px solid #DDD;
      width: 100%;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      color: #1E1E1E;
      float: left;
      &:focus {
        border-color: #194595;
        border-bottom-width: 2px;
      }
    }
    &.half {
      width: 50%;
      float: left;
      @media screen and (min-width: 769px) {
        padding-right: 8px;
        &.last {
          padding-right: 0;
          padding-left: 8px;
        }
      }
      @media screen and (max-width: 768px) {
        padding-right: 4px;
        &.last {
          padding-right: 0;
          padding-left: 4px;
        }
      }
    }
  }
  div.input-id-wrap {
    position: relative;
    width: 100%;
    float: left;
    @include after-clear();
    @media screen and (min-width: 769px) {
      padding-right: 120px;
    }
    @media screen and (max-width: 768px) {
      padding-right: 112px;
    }
  }
  #check-duplication-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #777777;
    border-radius: 2px;
    width: 104px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #777777;
    z-index: 1;
  }
  #sign-up-button {
    font-size: 16px;
    color: white;
    background-color: #194595;
    @media screen and (min-width: 769px) {
      margin-top: 64px;
      border-radius: 2px;
      width: 78px;
      height: 56px;
      line-height: 56px;
      float: right;
    }
    @media screen and (max-width: 768px) {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }
  }
}


@media screen and (min-width: 769px) {

}
@media screen and (max-width: 768px) {

}