<select class="select" data-ng-model="ngModel">
    <option data-ng-if="ngPlaceholder && !ngModel" value="" hidden selected disabled>{{ ngPlaceholder }}</option>
    <option data-ng-repeat="item in ngEnum" value="{{ ngValueKey ? item[ngValueKey] : item }}">{{ ngTextKey ? item[ngTextKey] : item }}</option>
</select>