#receiverGroupManageWrap {

    #countWrap {
        @media screen and (min-width: 601px) {
            select-box {
                position: absolute;
                top: 16px;
                right: 122px;
                width: 80px;
                height: 34px;

                select.select {
                    font-size: 12px;
                }
            }
            #buttonSubmitReceiverGroup {
                position: absolute;
                top: 16px;
                right: 24px;
                width: 90px;
                height: 34px;
                line-height: 34px;
                font-size: 12px;
            }
        }
        @media screen and (max-width: 600px) {
            #buttonSubmitReceiverGroup {
                position: fixed;
                bottom: 0;
                left: 0;
                border-radius: 0;
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                font-weight: bold;
                z-index: $z-index-receiver-group-manage-button-mobile;
            }
        }
    }

    #rowsWrap {
        @media screen and (min-width: 601px) {
            div.list-wrap {
                list-header {
                    ul {
                        li {
                            width: 20%;
                        }
                    }
                }

                ul.list-content {
                    li {
                        cursor: pointer;
                        & > div {
                            width: 20%;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 600px) {
            div.list-wrap {
                ul.list-content {
                    li {
                        div {
                            float: none;
                        }
                        div:first-of-type {
                            display: inline-block;
                            padding: 4px 16px;
                            background-color: $mobile-id-bg-color;
                            color: $mobile-id-color;
                            border-radius: 50px;
                            margin-bottom: 8px;
                        }
                        div:nth-of-type(2) {
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}