<div id="calculationDashboardWrap">
    <div class="count-wrap">
        <h4 class="chart-title">전체 발송 금액</h4>
        <p>{{ dashboard.totalSendPrice | number }} 원</p>
    </div>
    <div class="count-wrap">
        <h4 class="chart-title">전체 입금 금액</h4>
        <p>{{ dashboard.totalPaymentPrice | number }} 원</p>
    </div>
    <div class="count-wrap">
        <h4 class="chart-title">정산 예정 금액</h4>
        <p>{{ (dashboard.totalSendPrice - dashboard.totalPaymentPrice) | number }} 원</p>
    </div>
</div>