<article id="calculationManageWrap" data-ng-controller="CalculationManageCtrl">
    <div class="section-card margin-top-0" data-ng-include="templatePath + 'dashboard.html'"></div>
    <div class="section-card" data-ng-include="templatePath + 'search-part.html'"></div>
    <div class="section-card" data-ng-include="templatePath + 'tab-menu.html'"></div>
</article>