<div data-ng-controller="CalculationPaymentCtrl">
    <div id="countWrap">
        <p>결과 {{ payments ? (payments.count | number) : 0 }}건</p>
        <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
    </div>
    <div id="rowsWrap">
        <div class="list-wrap">
            <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
            <ul class="list-content">
                <li data-ng-repeat="item in payments.rows">
                    <div class="center-wrap">{{ item.id }}</div>
                    <div class="center-wrap"><span class="mobile-key-text">금액 -</span> {{ item.price | number }}원</div>
                    <div class="center-wrap"><span class="mobile-key-text">등록일 -</span> {{ item.createdAt ? (item.createdAt | toISODate | date:'yyyy-MM-dd') : '-' }}</div>
                </li>
            </ul>
        </div>
        <div class="page-number-wrap" data-ng-if="payments.rows.length">
            <page-number size="form.size"
                         total="payments.count"
                         current-page-string="{{ form.size | returnPage: form.offset }}"
                         func="goPage"></page-number>
        </div>
    </div>
</div>