<div id="searchOptionWrap">
    <div id="labelWrap">
        <ul>
            <li class="active">
                등록일
            </li>
        </ul>
    </div>
    <div id="optionWrap">
        <ul>
            <li class="active">
                <datepicker date-format="yyyy-MM-dd">
                    <input type="text" class="date" data-ng-model="form.startDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                </datepicker>
                <div class="water-wrap">
                    ~
                </div>
                <datepicker date-format="yyyy-MM-dd" date-min-limit="{{dateMinLimit}}">
                    <input type="text" class="date" data-ng-model="form.endDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                </datepicker>
            </li>
        </ul>
    </div>
</div>
<div id="searchWrap">
    <div class="button-wrap">
        <button type="button" id="buttonSearch" class="orange" data-ng-click="search()">검색</button>
    </div>
    <div class="button-wrap">
        <button type="button" id="buttonRefresh" class="line" data-ng-click="refresh()">초기화</button>
    </div>
</div>