<div data-ng-controller="CalculationSentMessageCtrl">
    <div id="countWrap">
        <p>결과 {{ sentMessage ? (sentMessage.count | number) : 0 }}건</p>
        <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
    </div>
    <div id="rowsWrap">
        <div class="list-wrap">
            <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
            <ul class="list-content">
                <li data-ng-repeat="item in sentMessage.rows">
                    <div class="center-wrap">{{ item.id }}</div>
                    <div class="center-wrap">{{ item.title }}</div>
                    <div class="center-wrap"><span class="mobile-key-text">발송일 -</span> {{ item.activeDate ? (item.activeDate | toISODate | date:'yyyy-MM-dd') : '-' }}</div>
                    <div class="center-wrap"><span class="mobile-key-text">성공 발송 건수 -</span> {{ item.sendCount | number }}</div>
                    <div class="center-wrap"><span class="mobile-key-text">총 금액 -</span> {{ item.totalPrice | number }}원</div>
                    <div class="center-wrap"><span class="mobile-key-text">등록일 -</span> {{ item.createdAt ? (item.createdAt | toISODate | date:'yyyy-MM-dd') : '-' }}</div>
                </li>
            </ul>
        </div>
        <div class="page-number-wrap" data-ng-if="sentMessage.rows.length">
            <page-number size="form.size"
                         total="sentMessage.count"
                         current-page-string="{{ form.size | returnPage: form.offset }}"
                         func="goPage"></page-number>
        </div>
    </div>
</div>