<div id="calculationResultWrap">
    <div class="tab-menu-wrap">
        <ul>
            <li data-ng-click="activeTab('sentMessages')" data-ng-class="{'active': form.activeTab == 'sentMessages'}">
                발송 메시지 목록
            </li>
            <li data-ng-click="activeTab('payments')" data-ng-class="{'active': form.activeTab == 'payments'}">
                입금 목록
            </li>
        </ul>
    </div>

    <div class="tab-content-container">
        <div id="calculationSentMessageWrap" class="tab-content-wrap" data-ng-if="form.activeTab === 'sentMessages'" data-ng-include="templatePath + 'sent-message.html'"></div>
        <div id="calculationPaymentWrap" class="tab-content-wrap" data-ng-if="form.activeTab === 'payments'" data-ng-include="templatePath + 'payment.html'"></div>
    </div>
</div>