<div class="lc-file-upload-wrap">
    <input type="file" id={{ngId}} fileread="ngModel" value={{ngModel}}>
    <label for="{{ngId}}" class="input-shape-label">
        <span class="file-name" data-ng-class="{'lc-uploaded': ngModel.name}">
            {{!ngModel.name ? '업로드할 CSV 파일을 선택하세요.' : ngModel.name}}</span>
    </label>
    <label for="{{ngId}}" class="button-shape-label">파일 선택</label>
</div>