#dayDiagram {
    position: relative;

    div.list-wrap {
        list-header {
            ul {
                li {
                    width: 50%;
                }
            }
        }
        ul.list-content {
            li {
                div {
                    width: 50%;
                }
            }
        }
    }
}