#functionWrap {
  @media screen and (min-width: 601px) {
    position: relative;
    margin-top: 16px;
    @include after-clear();
    button.list {
      display: block;
      margin-right: 16px;
      border-radius: 2px;
      width: calc(50% - 8px);
      height: 34px;
      line-height: 32px;
      font-size: 12px;
      float: left;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

#functionMobileWrap {
  @media screen and (min-width: 601px) {
    display: none;
  }
  @media screen and (max-width: 600px) {
    button.orange {
      position: fixed;
      bottom: 0;
      left: 0;
      border-radius: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      font-weight: bold;
      z-index: $z-index-function-button-mobile;
    }
  }
}