#genderDiagram {
    position: relative;

    .legend-wrap {
        span {
            display: inline-block;
            font-size: 12px;

            &:before {
                content: '';
                width: 12px;
                height: 12px;
                display: inline-block;
                vertical-align: top;
                margin-right: 4px;
            }

            &:first-of-type {
                &:before {
                    background-color: #BFEEF1;
                }
            }
            &:nth-of-type(2) {
                &:before {
                    background-color: #EF4C20;
                }
            }

            &:last-of-type {
                &:before {
                    background-color: #FF952C;
                }
            }
        }
    }
}