#chartWrap {
    position: relative;

    #openerCountWrap {
        @media screen and (min-width: 601px) {
            position: relative;
            @include after-clear();
            div.section-card {
                float: left;

                &:nth-of-type(1) {
                    margin-right: 16px;
                    width: calc(66.666% - 5.333px);
                }

                &:nth-of-type(2) {
                    width: calc(33.333% - 10.666px);
                }
            }
        }
    }

    #couponCountWrap {
        @media screen and (min-width: 601px) {
            position: relative;
            @include after-clear();
            div.section-card {
                width: calc(50% - 8px);
                float: left;

                &:nth-of-type(1) {
                    margin-right: 16px;
                }
            }
        }
    }
}

@import "search-part";
@import "function-part";
@import "opener-count";
@import "opener-count-diagram";
@import "hour-diagram";
@import "day-diagram";
@import "per-hour-diagram";
@import "per-day-diagram";
@import "gender-diagram";
@import "age-diagram";
@import "address-diagram";
@import "page-count-diagram";
@import "page-time-diagram";
@import "per-hour-coupon-diagram";
@import "per-day-coupon-diagram";
@import "coupon-count-diagram";
@import "coupon-type-count-diagram";