#openerCountDiagram {
    position: relative;
    .legend-wrap {
        span {
            display: inline-block;
            font-size: 12px;

            &:before {
                content: '';
                width: 12px;
                height: 12px;
                display: inline-block;
                vertical-align: top;
                margin-right: 4px;
            }

            &:first-of-type {
                &:before {
                    background-color: #f15723;
                }
            }
            &:last-of-type {
                &:before {
                    background-color: #fce6e0;
                }
            }
        }
    }
    @media screen and (min-width: 601px) {
        @include after-clear();
        div.half {
            position: relative;
            width: 50%;
            float: left;

            div.diagram-wrap {
                height: 100%;
            }
        }
    }
    @media screen and (max-width: 600px) {
        div.half {
            position: relative;
            &:nth-of-type(2) {
                margin-top: 16px;
            }
        }
    }
}