#chartWrap {
  #optionWrap {
    @media screen and (min-width: 601px) {
      ul {
        li {
          &:nth-of-type(1) {
            margin-top: 0;
            check-box {
              margin-right: 38px;
              float: left;
            }
          }
          &:nth-of-type(2) {
            check-box {
              margin-right: 38px;
              float: left;
            }
          }
          &:nth-of-type(3) {
            select-box {
              margin-right: 8px;
              float: left;
            }
          }
          &:nth-of-type(4) {
            div.option-wrap {
              float: left;
              @include after-clear();
              &:nth-of-type(1) {
                margin-right: 24px;
              }
              span {
                display: block;
                height: 30px;
                line-height: 30px;
                font-size: 11px;
                font-weight: bold;
                float: left;
                &:nth-of-type(1) {
                  margin-right: 4px;
                  color: $grey;
                }
                &:nth-of-type(2) {
                  margin-left: 4px;
                  color: #BFBFBF;
                }
              }
              input.text {
                display: block;
                float: left;
              }
            }
          }
          &:nth-of-type(5) {

          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      ul {
        li {
          &:nth-of-type(1),
          &:nth-of-type(2) {
            padding-top: 0;
            padding-bottom: 8px;
            @include after-clear();
            check-box {
              width: 50%;
              height: 48px;
              line-height: 48px;
              font-size: 13px;
              float: left;
            }
          }
          &:nth-of-type(3) {
            @include after-clear();
            div.select-wrap {
              position: relative;
              margin-top: 8px;
              width: 50%;
              float: left;
              @include after-clear();
              &:nth-of-type(1) {
                padding-right: 4px;
              }
              &:nth-of-type(2) {
                padding-left: 4px;
              }
            }
            select-box {
              width: 100%;
              height: 40px;
              float: left;
              select.select {
                font-size: 14px;
              }
            }
          }
          &:nth-of-type(4) {
            div.option-wrap {
              &:nth-of-type(1) {
                margin-bottom: 8px;
              }
            }
          }
          &:nth-of-type(5) {
            search-input {
              height: 40px;
              select-box {
                height: 38px;
                select.select {
                  font-size: 14px;
                }
              }
              hr {
                height: 28px;
              }
              input.search {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}