<form data-ng-submit="submit()">
    <select-box class="select" ng-model="ngKeyword" ng-enum="ngEnum" ng-value-key="{{ ngValueKey }}" ng-text-key="{{ ngTextKey }}" ng-placeholder="{{ ngKeywordPlaceholder }}"></select-box>
    <hr>
    <input type="text" class="search" data-ng-model="ngItem" placeholder="{{ ngItemPlaceholder }}">
</form>