<div id="countWrap">
    <p>결과 {{ messages ? (messages.count | number) : 0 }}건</p>
    <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
    <button type="button" id="buttonSubmitMessage" class="orange" data-ng-click="goToSendManage()">발송 등록</button>
</div>
<div id="rowsWrap">
    <div class="list-wrap">
        <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
        <ul class="list-content">
            <li data-ng-repeat="item in messages.rows" data-ng-click="goToSendManage(item, $index)">
                <div class="center-wrap">{{ item.id }}</div>
                <div class="center-wrap">{{ enumMessageManageStates[item.state] }}</div>
                <div>{{ item.title }}</div>
                <div class="center-wrap"><span class="mobile-key-text">수신자수 -</span> {{ item.receiverCount | number }}</div>
                <div class="center-wrap"><span class="mobile-key-text">발송수 -</span> {{ item.sendCount | number }}</div>
                <div class="center-wrap btn-wrap">
                    <button type="button" class="list" data-ng-click="openSelectSendType(item, $index);$event.stopPropagation()">관리</button>
                </div>
                <div class="center-wrap"><span class="mobile-key-text">등록일 -</span> {{ item.createdAt ? (item.createdAt | toISODate | date:'yyyy-MM-dd') : '-' }}</div>
                <div class="center-wrap"><span class="mobile-key-text">(예약)발송일 -</span> {{ item.activeDate ? (item.activeDate | toISODate | date:'yyyy-MM-dd') : '-' }}</div>

                <div class="mobile-btn-wrap">
                    <ul>
                        <li>
                            <button type="button" class="list" data-ng-click="openSelectSendType(item, $index);$event.stopPropagation()">관리</button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="page-number-wrap" data-ng-if="messages.rows.length">
        <page-number size="form.size"
                     total="messages.count"
                     current-page-string="{{ form.size | returnPage: form.offset }}"
                     func="goPage"></page-number>
    </div>
</div>