<div id="searchOptionWrap">
    <div id="labelWrap">
        <ul>
            <li data-ng-click="activeTab(1)" data-ng-class="{'active': currentTab == 1}">
                등록일
            </li>
            <li data-ng-click="activeTab(2)" data-ng-class="{'active': currentTab == 2}">
                검색
            </li>
        </ul>
    </div>
    <div id="optionWrap">
        <ul>
            <li data-ng-class="{'active': currentTab == 1}">
                <datepicker date-format="yyyy-MM-dd" datepicker-mobile="true">
                    <input type="text" class="date" data-ng-model="form.startDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                </datepicker>
                <div class="water-wrap">
                    ~
                </div>
                <datepicker date-format="yyyy-MM-dd" date-min-limit="{{dateMinLimit}}" datepicker-mobile="true" datepicker-class="position-right">
                    <input type="text" class="date" data-ng-model="form.endDate" placeholder="{{ 'YYYY-MM-DD' }}" readonly>
                </datepicker>
            </li>

            <li data-ng-class="{'active': currentTab == 2}">
                <search-input ng-keyword="form.searchField"
                              ng-enum="enumSearchFields"
                              ng-value-key="value"
                              ng-text-key="text"
                              ng-keyword-placeholder="{{ '검색 필드' }}"
                              ng-item="form.searchItem"
                              ng-item-placeholder="{{ '검색어' }}"
                              ng-search="search"></search-input>
            </li>
        </ul>
    </div>
</div>
<div id="searchWrap">
    <div class="button-wrap">
        <button type="button" id="buttonSearch" class="orange" data-ng-click="search()">검색</button>
    </div>
    <div class="button-wrap">
        <button type="button" id="buttonRefresh" class="line" data-ng-click="refresh()">초기화</button>
    </div>
</div>