<ul>
    <li class="check" data-ng-if="checkFunc">
        <check-box class="box" ng-model="form.isCheck" ng-func="checkFunc"></check-box>
    </li>
    <li data-ng-repeat="item in headers" data-ng-click="$event.stopPropagation();click($index);">
        <div class="list-item">
            <span>{{ headers[$index] }}</span>
            <span data-ng-if="events[$index]" data-ng-class="{'active': orderBys[$index] == 'DESC'}"></span>
            <span data-ng-if="events[$index]" data-ng-class="{'active': orderBys[$index] == 'ASC'}"></span>
        </div>
    </li>
</ul>