<article id="userManageWrap" data-ng-controller="UserManageCtrl">
    <div class="section-card margin-top-0" data-ng-include="templatePath + 'search-part.html'"></div>
    <div class="section-card" data-ng-include="templatePath + 'result-part.html'"></div>
</article>