<div id="countWrap">
    <p>결과 {{ users.count | number }}건</p>
    <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
</div>
<div id="rowsWrap">
    <div class="list-wrap">
        <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
        <ul class="list-content">
            <li data-ng-repeat="item in users.rows" data-ng-click="openUpdateUserModal(item.id)">
                <div class="center-wrap">{{ item.id }}</div>
                <div class="center-wrap">{{ item.name }}</div>
                <div class="center-wrap"><span class="mobile-key-text">아이디 -</span> {{ item.uid }}</div>
                <div class="center-wrap"><span class="mobile-key-text">권한 -</span> {{ item.role }}</div>
                <div class="center-wrap"><span class="mobile-key-text">URL -</span> {{ item.url | noData }}</div>
                <div class="center-wrap"><span class="mobile-key-text">수신거부 메시지 유무 -</span> {{ item.refuseMessage ? 'Y' : 'N' }}</div>
                <div class="center-wrap"><span class="mobile-key-text">등록일 -</span> {{ item.createdAt ? (item.createdAt | toISODate | date:'yyyy-MM-dd') : '-' }}</div>
            </li>
        </ul>
    </div>
    <div class="page-number-wrap" data-ng-if="users.rows.length">
        <page-number size="form.size"
                     total="users.count"
                     current-page-string="{{ form.size | returnPage: form.offset }}"
                     func="goPage"></page-number>
    </div>
</div>