<div id="countWrap">
    <p>결과 {{ receiverGroups ? (receiverGroups.count | number) : 0 }}건</p>
    <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
    <button type="button" id="buttonSubmitReceiverGroup" class="orange" data-ng-click="openSubmitReceiverGroupWithFile()">그룹 등록</button>
</div>
<div id="rowsWrap">
    <div class="list-wrap">
        <list-header headers="headers" events="events" order-bys="orderBys"></list-header>
        <ul class="list-content">
            <li data-ng-repeat="item in receiverGroups.rows" data-ng-click="$event.stopPropagation(); openUpdateReceiverGroup(item, $index)">
                <div class="center-wrap">{{ item.id }}</div>
                <div class="center-wrap">{{ item.name }}</div>
                <div class="center-wrap btn-wrap">
                    <button type="button" class="list" data-ng-click="$event.stopPropagation(); openReceiverListModal(item, $index);">{{ item.receiverCount | number }}</button>
                </div>
                <div class="center-wrap btn-wrap">
                    <button type="button" class="list" data-ng-click="$event.stopPropagation(); openSentMessageListModal(item, $index);">{{ item.sentCount | number }}</button>
                </div>
                <div class="center-wrap">{{ item.createdAt ? (item.createdAt | toISODate | date: 'yyyy-MM-dd') : '-' }}</div>

                <div class="mobile-btn-wrap">
                    <ul>
                        <li>
                            <button type="button" class="list" data-ng-click="$event.stopPropagation(); openReceiverListModal(item, $index);">수신자 수 {{ item.receiverCount | number }}</button>
                        </li>
                        <li>
                            <button type="button" class="list" data-ng-click="$event.stopPropagation(); openSentMessageListModal(item, $index);">발송횟수 {{ item.sentCount | number }}</button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="page-number-wrap" data-ng-if="receiverGroups.rows.length">
        <page-number size="form.size"
                     total="receiverGroups.count"
                     current-page-string="{{ form.size | returnPage: form.offset }}"
                     func="goPage"></page-number>
    </div>
</div>