<div id="searchOptionWrap">
    <div id="labelWrap">
        <ul>
            <li class="active">
                검색
            </li>
        </ul>
    </div>
    <div id="optionWrap">
        <ul>
            <li class="active">
                <search-input ng-keyword="form.searchField"
                              ng-enum="enumSearchFields"
                              ng-value-key="value"
                              ng-text-key="text"
                              ng-keyword-placeholder="{{ '그룹명' }}"
                              ng-item="form.searchItem"
                              ng-item-placeholder="{{ '검색어' }}"
                              ng-search="search"></search-input>
            </li>
        </ul>
    </div>
</div>
<div id="searchWrap">
    <div class="button-wrap">
        <button type="button" id="buttonSearch" class="orange" data-ng-click="search()">검색</button>
    </div>
    <div class="button-wrap">
        <button type="button" id="buttonRefresh" class="line" data-ng-click="refresh()">초기화</button>
    </div>
</div>