#sendManageWrap {
    #buttonPart {
        @include after-clear();
        @media screen and (min-width: 601px) {
            margin-top: 16px;
        }
        @media screen and (max-width: 600px) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: $z-index-send-manage-button-mobile;
        }

        div.button-wrap {
            //width: 50%;
            //float: left;
            @media screen and (min-width: 601px) {
                //&:nth-of-type(1) {
                //    padding-right: 4px;
                //}
                //&:nth-of-type(2) {
                //    padding-left: 4px;
                //}
            }
        }

        button {
            width: 100%;
            @media screen and (min-width: 601px) {
                height: 48px;
                font-size: 14px;
                &.line {
                    line-height: 46px;
                }
                &.orange {
                    line-height: 48px;
                }
            }
            @media screen and (max-width: 600px) {
                border-radius: 0;
                height: 50px;
                font-size: 16px;
                &.line {
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 0;
                    line-height: 49px;
                }
                &.orange {
                    line-height: 50px;
                }
            }
        }
    }
}