#sendManageWrap {
  position: relative;
  @media screen and (min-width: 601px) {
    @include after-clear();
  }
  #insertPart {
    @media screen and (min-width: 991px) {
      width: 440px;
      float: left;
    }
    @media screen and (min-width: 601px) and (max-width: 990px) {
      padding-right: 268px;
      width: 100%;
    }
  }
  #previewButtonPart {
    @media screen and (min-width: 991px) {
      margin-left: 16px;
      width: 252px;
      float: left;
    }
    @media screen and (min-width: 601px) and (max-width: 990px) {
      position: absolute;
      top: 0;
      right: 0;
      width: 252px;
    }
  }
}

@import "insert-part";
@import "preview-part";
@import "button-part";