#sendManageWrap {
    #insertPart {
        div.section-card {
            @media screen and (min-width: 601px) {
                padding: 24px;
            }
            @media screen and (max-width: 600px) {
                padding: 24px 16px;
            }
        }

        div.input-wrap {
            select-box {
                width: 100%;
                height: 40px;
                line-height: 40px;
                float: left;

                select.select {
                    font-size: 16px;
                }
            }

            input.date {
                height: 40px;
                font-size: 16px;
            }

            div.mobile-half {
                &:nth-of-type(2) {
                    padding-left: 0;
                }

                @media screen and (max-width: 600px) {
                    margin-top: 8px;
                    label.label {
                        display: none;
                    }
                }
            }

            &:nth-of-type(1) {
                margin-top: 0;

                div.input-box {
                    position: relative;
                    width: 100%;
                    float: left;
                }
            }

            &:nth-of-type(2) {
                check-box {
                    position: absolute;
                    top: 21px;
                    left: 0;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                    font-weight: bold;
                    z-index: 1;
                }

                div.input-box {
                    position: relative;
                    padding-left: 76px;
                    width: 100%;
                    float: left;
                }
            }

            &:nth-of-type(3) {
                form {
                    position: relative;
                    padding-right: 112px;
                    width: 100%;
                    float: left;

                    input.data {

                    }

                    button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 104px;
                        height: 40px;
                        line-height: 38px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }

            &:nth-of-type(4) {
                label.label {
                    @include after-clear();

                    span.right {
                        float: right;

                        span.lms {
                            color: $dark-orange;
                        }
                    }
                }
            }

            &:nth-of-type(5) {
                label.label {
                    height: 20px;
                    line-height: 20px;
                    @include after-clear();

                    check-box {
                        position: relative;
                        float: right;
                        overflow: visible;
                    }
                }
            }

            .page-add-btn-wrap {
                display: block;
                width: 100%;
                float: left;
                button {
                    width: 100%;
                    height: 40px;
                    font-size: 14px;
                }
            }

            ul.page-wrap {
                margin-top: 16px;
                width: 100%;
                float: left;
                li {
                    margin-bottom: 16px;
                    position: relative;
                    div.input-box {
                        padding-left: 60px;
                        span {
                            position: absolute;
                            display: block;
                            top: 0;
                            left: 0;
                            width: 60px;
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                    input {
                        padding-right: 96px;
                    }
                    button.list {
                        width: 80px;
                        height: 40px;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }

        div.tag-wrap {
            position: relative;
            border: 1px solid $light-grey;
            border-radius: 2px;
            padding: 8px 4px 4px 8px;
            width: 100%;
            float: left;

            ul {
                position: relative;
                @include after-clear();

                li {
                    position: relative;
                    display: block;
                    margin-right: 4px;
                    margin-bottom: 4px;
                    border-radius: 12px;
                    padding-left: 8px;
                    padding-right: 24px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 11px;
                    font-weight: bold;
                    color: white;
                    background-color: $light-orange;
                    cursor: pointer;
                    float: left;
                    -webkit-transition: background-color .1s;
                    -moz-transition: background-color .1s;
                    -ms-transition: background-color .1s;
                    -o-transition: background-color .1s;
                    transition: background-color .1s;
                    @media screen and (min-width: 769px) {
                        &:hover {
                            background-color: $orange;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        &:active {
                            background-color: $orange;
                        }
                    }

                    button {
                        position: absolute;
                        top: 4px;
                        right: 6px;
                        width: 16px;
                        height: 16px;
                        background-color: transparent;
                        z-index: 1;

                        &:before,
                        &:after {
                            position: absolute;
                            display: block;
                            top: 50%;
                            left: 50%;
                            margin-top: -1px;
                            margin-left: -6px;
                            width: 12px;
                            height: 2px;
                            background-color: white;
                            content: "";
                        }

                        &:before {
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }

                        &:after {
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}