$page-path: #{$image-path}#{'send-manage/'};

$img-phone-path: #{$page-path}#{'phone.png'};

#sendManageWrap {
  #previewPart {
    position: relative;
    @media screen and (max-width: 600px) {
      margin-top: 8px;
      padding: 16px;
      background-color: white;
    }
    div.phone-wrap {
      position: relative;
      padding-top: 203.03%;
      width: 100%;
      div.phone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        @include background();
        background-image: url($img-phone-path);
        div.preview-wrap {
          display: inline-block;
          margin-top: 22%;
          width: 85%;
          height: 75%;
          div.preview {
            position: relative;
            padding: 12px;
            width: 100%;
            height: 100%;
            line-height: 1.5;
            font-size: 16px;
            word-wrap: break-word;
            white-space: pre-wrap;
            text-align: left;
            overflow-y: auto;
            span {
              border-radius: 13.5px;
              padding: 4px 8px;
              color: white;
              background-color: $light-orange;
            }
          }
        }
      }
    }
  }
}