#sendAnalysisWrap {
    #optionWrap {
        @media screen and (min-width: 601px) {
            ul {
                li {
                    &:nth-of-type(1) {
                        margin-top: 0;

                        datepicker {
                            position: relative;
                            display: block;
                            width: 120px;
                            height: 30px;
                            float: left;
                        }

                        div.water-wrap {
                            padding: 0 8px;
                            height: 30px;
                            line-height: 30px;
                            font-size: 12px;
                            color: #717171;
                            float: left;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 600px) {
            ul {
                li {
                    &:nth-of-type(1) {
                        @include after-clear();

                        datepicker {
                            position: relative;
                            display: block;
                            width: 50%;
                            height: 40px;
                            float: left;

                            &:nth-of-type(1) {
                                padding-right: 12px;
                            }

                            &:nth-of-type(2) {
                                padding-left: 12px;
                            }

                            input.date {
                                font-size: 14px;
                            }
                        }

                        div.water-wrap {
                            position: absolute;
                            top: 16px;
                            left: 50%;
                            margin-left: -12px;
                            padding: 0 8px;
                            width: 8px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 12px;
                            color: #717171;
                            text-align: center;
                            float: left;
                        }
                    }

                    &:nth-of-type(2) {
                        search-input {
                            height: 40px;

                            select-box {
                                height: 38px;

                                select.select {
                                    font-size: 14px;
                                }
                            }

                            hr {
                                height: 28px;
                            }

                            input.search {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}