#senderPart {
    #senderPartTitle {
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: #404040;
        margin-bottom: 12px;
    }
    ul {
        margin-bottom: -4px;
        @include after-clear();
        li {
            position: relative;
            display: block;
            margin-right: 4px;
            margin-bottom: 4px;
            border-radius: 12px;
            padding: 0 8px;
            height: 24px;
            line-height: 24px;
            font-size: 11px;
            font-weight: bold;
            color: white;
            background-color: #FF952C;
            float: left;
        }
    }
}