<div id="countWrap">
    <p>결과 {{ senders.count | number }}건</p>
    <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
    <div class="total-check-wrap">
        <check-box class="box" ng-model="check.total" ng-func="totalCheck"></check-box>
        <span>일괄 선택</span>
    </div>
</div>
<div id="rowsWrap">
    <div class="list-wrap">
        <list-header headers="headers" events="events" order-bys="orderBys" is-check="check.total" check-func="totalCheck"></list-header>
        <ul class="list-content">
            <li data-ng-repeat="item in senders.rows">
                <div class="padding-left-0">
                    <check-box class="box" ng-model="item.isCheck" ng-func="checkItem" ng-index="{{ $index }}"></check-box>
                </div>
                <div class="center-wrap" data-ng-click="goToSingleSendAnalysis(item)">{{ item.id }}</div>
                <div class="center-wrap" data-ng-click="goToSingleSendAnalysis(item)">{{ item.name }}</div>
                <div class="center-wrap" data-ng-click="goToSingleSendAnalysis(item)"><span class="mobile-key-text">URL -</span> {{ item.url | noData }}</div>
                <div class="center-wrap" data-ng-click="goToSingleSendAnalysis(item)"><span class="mobile-key-text">발송 횟수 -</span> {{ item.sendCount | number }}</div>
                <div class="center-wrap" data-ng-click="goToSingleSendAnalysis(item)"><span class="mobile-key-text">발송일 -</span> {{ item.activeDate ? (item.activeDate | toISODate | date:'yyyy-MM-dd') : '-' }}</div>
                <div class="center-wrap" data-ng-click="goToSingleSendAnalysis(item)"><span class="mobile-key-text">등록일 -</span> {{ item.createdAt ? (item.createdAt | toISODate | date:'yyyy-MM-dd') : '-' }}</div>
            </li>
        </ul>
    </div>
    <div class="page-number-wrap" data-ng-if="senders.rows.length">
        <button id="buttonGoToChart" type="button" class="orange" data-ng-click="goToSendAnalysisWithSenderIds()">발송 분석 조회</button>
        <page-number size="form.size"
                     total="senders.count"
                     current-page-string="{{ form.size | returnPage: form.offset }}"
                     func="goPage"></page-number>
    </div>
</div>