#senderAnalysisWrap {
    #countWrap {
        @media screen and (min-width: 601px) {
            .total-check-wrap {
                display: none;
            }
            select-box {
                position: absolute;
                top: 16px;
                right: 24px;
                height: 34px;

                select.select {
                    font-size: 12px;
                }
            }
        }
        @media screen and (max-width: 600px){
            display: flex;
            justify-content: space-between;
            align-items: center;

            .total-check-wrap {
                display: block;
            }

            check-box {
                position: relative;
                display: inline-block;
                height: auto;
                top: 4px;
                line-height: 1;
                margin-right: 4px;
                .check-box-wrap {
                    i {
                        position: relative;
                        top: auto;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    #rowsWrap {
        @media screen and (min-width: 601px) {
            div.list-wrap {
                list-header {
                    ul {
                        li {
                            width: calc(16.6666% - 6.33333px);

                            &:nth-of-type(1) {
                                width: 38px;
                            }
                            &:nth-of-type(2) {
                                width: calc(13.6666% - 6.33333px);
                            }
                            &:nth-of-type(4) {
                                width: calc(19.6666% - 6.33333px);
                            }
                        }
                    }
                }

                ul.list-content {
                    li {
                        cursor: pointer;
                        & > div {
                            width: calc(16.6666% - 6.33333px);

                            &:nth-of-type(1) {
                                width: 38px;
                            }
                            &:nth-of-type(2) {
                                width: calc(13.6666% - 6.33333px);
                            }
                            &:nth-of-type(4) {
                                width: calc(19.6666% - 6.33333px);
                            }
                        }
                    }
                }
            }
            #buttonGoToChart {
                width: 118px;
                height: 34px;
                line-height: 34px;
                font-size: 12px;
                float: left;
            }
        }
        @media screen and (max-width: 600px) {
            div.list-wrap {
                ul.list-content {
                    li {
                        div {
                            float: none;
                        }
                        div:first-of-type {
                            position: relative;
                            display: inline-block;
                            top: 2px;
                            check-box {
                                display: inline-block;
                                height: auto;
                                line-height: 1;
                                .check-box-wrap {
                                    i {
                                        position: relative;
                                        top: auto;
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                        div:nth-of-type(2) {
                            display: inline-block;
                            padding: 4px 16px;
                            background-color: $mobile-id-bg-color;
                            color: $mobile-id-color;
                            border-radius: 50px;
                            margin-left: 8px;
                            margin-bottom: 16px;
                            margin-right: 8px;
                        }
                        div:nth-of-type(3) {
                            display: inline-block;
                            padding: 4px 16px;
                            border-radius: 50px;
                            background-color: $orange;
                            color: #fff;
                        }
                        div:nth-of-type(4), div:nth-of-type(5) {
                            font-size: 18px;
                            font-weight: bold;
                        }
                        div:nth-of-type(4) {
                            margin-bottom: 6px;
                        }
                        div:nth-of-type(5) {
                            margin-bottom: 12px;
                        }

                        div:nth-of-type(6), div:nth-of-type(7),
                        div:nth-of-type(8), div:nth-of-type(9) {
                            margin-bottom: 6px;
                            font-size: 14px;
                        }

                        div:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    .mobile-btn-wrap {
                        ul {
                            li {
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                }
            }

            #buttonGoToChart {
                position: fixed;
                left: 0;
                bottom: 0;
                border-radius: 0;
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                z-index: $z-index-go-to-chart-button-mobile;
            }
        }
    }
}