@import "../components/common";

$page-path: #{$image-path}#{'select-service/'};

$logo-pc-path: #{$page-path}#{'logo-pc.png'};
$logo-mobile-path: #{$page-path}#{'logo-mobile.png'};

body {
  @media screen and (min-width: 769px) {
    padding-top: 40px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E7E7E7;
  width: 100%;
  @media screen and (min-width: 769px) {
    height: 40px;
  }
  @media screen and (max-width: 768px) {
    height: 60px;
  }
  #logo {
    position: relative;
    margin: 0;
    @include background();
    @media screen and (min-width: 769px) {
      top: 10px;
      left: 16px;
      width: 80px;
      height: 19px;
      background-image: url($logo-pc-path);
    }
    @media screen and (max-width: 768px) {
      top: 19px;
      left: 16px;
      width: 44px;
      height: 22px;
      background-image: url($logo-mobile-path);
    }
  }
}

$select-analytics-path: #{$page-path}#{'select-analytics.png'};
$select-analytics-active-path: #{$page-path}#{'select-analytics-active.png'};
$select-dimsy-path: #{$page-path}#{'select-dimsy.png'};
$select-dimsy-active-path: #{$page-path}#{'select-dimsy-active.png'};

#select-service-wrap {
  p.title {
    color: #1E1E1E;
    text-align: center;
    @media screen and (min-width: 769px) {
      margin-top: 208px;
      height: 28px;
      line-height: 28px;
      font-size: 24px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 130px;
      height: 19px;
      line-height: 19px;
      font-size: 16px;
    }
  }
  div.button-wrap {
    margin-top: 40px;
    font-size: 0;
    text-align: center;
    button {
      border-radius: 6px;
      padding-top: 86px;
      width: 200px;
      height: 200px;
      font-size: 18px;
      color: #BFBFBF;
      box-shadow: 0 4px 33px rgba(10, 82, 157, 0.13);
      background-color: white;
      background-repeat: no-repeat;
      background-size: 74px 72px;
      background-position: center 44px;
      &:nth-of-type(1) {
        background-image: url($select-analytics-path);
        @media screen and (min-width: 769px) {
          margin-right: 16px;
          &:hover {
            color: #2B2B2B;
            background-image: url($select-analytics-active-path);
          }
        }
        @media screen and (max-width: 768px) {
          &:active {
            color: #2B2B2B;
            background-image: url($select-analytics-active-path);
          }
        }
      }
      &:nth-of-type(2) {
        background-image: url($select-dimsy-path);
        @media screen and (min-width: 769px) {
          &:hover {
            color: #2B2B2B;
            background-image: url($select-dimsy-active-path);
          }
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}