@-webkit-keyframes modal-animation {
  0% {
    -webkit-transform: translate3d(0, -30px, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-moz-keyframes modal-animation {
  0% {
    -moz-transform: translate3d(0, -30px, 0);
    opacity: 0; }
  100% {
    -moz-: translate3d(0, 0, 0);
    opacity: 1; } }
@-ms-keyframes modal-animation {
  0% {
    -ms-transform: translate3d(0, -30px, 0);
    opacity: 0; }
  100% {
    -ms-transform: translate3d(0, 0, 0);
    opacity: 1; } }
@-o-keyframes modal-animation {
  0% {
    -o-transform: translate3d(0, -30px, 0);
    opacity: 0; }
  100% {
    -o-transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes modal-animation {
  0% {
    transform: translate3d(0, -30px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
* {
  box-sizing: border-box;
  *behavior: url(/pages/sign/assets/stylesheets/boxsizing.htc); }

html {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-family: 'NanumGothic' !important; }
  body.prevent-scroll {
    overflow-y: hidden;
    -webkit-overflow-scrolling: initial; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0; }

button {
  border: 0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  font-family: 'NanumGothic' !important;
  background-color: white; }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

p {
  margin: 0; }

select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

input::-ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

:-ms-input-placeholder {
  color: #D6D6D6;
  opacity: 1; }

::-moz-placeholder {
  color: #D6D6D6;
  opacity: 1; }

:-moz-placeholder {
  color: #D6D6D6;
  opacity: 1; }

::-webkit-input-placeholder {
  color: #D6D6D6;
  opacity: 1; }

.vertical-align-wrap {
  position: relative;
  display: table;
  width: 100%;
  height: 100%; }
  .vertical-align-wrap .vertical-align {
    display: table-cell;
    vertical-align: middle; }

.modal-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden; }
  .modal-overlay.active button.modal-close-button {
    display: block; }
  @media screen and (max-width: 768px) {
    .modal-overlay {
      display: none; }
      .modal-overlay.active {
        display: block; } }
  @media screen and (min-width: 769px) {
    .modal-overlay {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: visibility .3s, opacity .3s;
      -moz-transition: visibility .3s, opacity .3s;
      -ms-transition: visibility .3s, opacity .3s;
      -o-transition: visibility .3s, opacity .3s;
      transition: visibility .3s, opacity .3s; }
      .modal-overlay.active {
        visibility: visible;
        opacity: 1; }
        .modal-overlay.active .modal-item {
          -webkit-animation: .3s modal-animation forwards;
          -moz-animation: .3s modal-animation forwards;
          -ms-animation: .3s modal-animation forwards;
          -o-animation: .3s modal-animation forwards;
          animation: .3s modal-animation forwards; } }
  .modal-overlay button.modal-close-button {
    position: absolute;
    display: none;
    padding: 0;
    width: 24px;
    height: 24px;
    z-index: 1; }
    .modal-overlay button.modal-close-button:before, .modal-overlay button.modal-close-button:after {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -12px;
      width: 24px;
      height: 2px;
      background-color: black;
      content: ""; }
    .modal-overlay button.modal-close-button:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .modal-overlay button.modal-close-button:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media screen and (min-width: 769px) {
  body {
    padding-top: 40px; } }
@media screen and (max-width: 768px) {
  body {
    padding-top: 60px; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E7E7E7;
  width: 100%; }
  @media screen and (min-width: 769px) {
    header {
      height: 40px; } }
  @media screen and (max-width: 768px) {
    header {
      height: 60px; } }
  header #logo {
    position: relative;
    margin: 0;
    background: transparent no-repeat center;
    background-size: cover; }
    @media screen and (min-width: 769px) {
      header #logo {
        top: 10px;
        left: 16px;
        width: 80px;
        height: 19px;
        background-image: url(/pages/sign/assets/images/select-service/logo-pc.png); } }
    @media screen and (max-width: 768px) {
      header #logo {
        top: 19px;
        left: 16px;
        width: 44px;
        height: 22px;
        background-image: url(/pages/sign/assets/images/select-service/logo-mobile.png); } }

#select-service-wrap p.title {
  color: #1E1E1E;
  text-align: center; }
  @media screen and (min-width: 769px) {
    #select-service-wrap p.title {
      margin-top: 208px;
      height: 28px;
      line-height: 28px;
      font-size: 24px; } }
  @media screen and (max-width: 768px) {
    #select-service-wrap p.title {
      margin-top: 130px;
      height: 19px;
      line-height: 19px;
      font-size: 16px; } }
#select-service-wrap div.button-wrap {
  margin-top: 40px;
  font-size: 0;
  text-align: center; }
  #select-service-wrap div.button-wrap button {
    border-radius: 6px;
    padding-top: 86px;
    width: 200px;
    height: 200px;
    font-size: 18px;
    color: #BFBFBF;
    box-shadow: 0 4px 33px rgba(10, 82, 157, 0.13);
    background-color: white;
    background-repeat: no-repeat;
    background-size: 74px 72px;
    background-position: center 44px; }
    #select-service-wrap div.button-wrap button:nth-of-type(1) {
      background-image: url(/pages/sign/assets/images/select-service/select-analytics.png); }
      @media screen and (min-width: 769px) {
        #select-service-wrap div.button-wrap button:nth-of-type(1) {
          margin-right: 16px; }
          #select-service-wrap div.button-wrap button:nth-of-type(1):hover {
            color: #2B2B2B;
            background-image: url(/pages/sign/assets/images/select-service/select-analytics-active.png); } }
      @media screen and (max-width: 768px) {
        #select-service-wrap div.button-wrap button:nth-of-type(1):active {
          color: #2B2B2B;
          background-image: url(/pages/sign/assets/images/select-service/select-analytics-active.png); } }
    #select-service-wrap div.button-wrap button:nth-of-type(2) {
      background-image: url(/pages/sign/assets/images/select-service/select-dimsy.png); }
      @media screen and (min-width: 769px) {
        #select-service-wrap div.button-wrap button:nth-of-type(2):hover {
          color: #2B2B2B;
          background-image: url(/pages/sign/assets/images/select-service/select-dimsy-active.png); } }
      @media screen and (max-width: 768px) {
        #select-service-wrap div.button-wrap button:nth-of-type(2) {
          display: none; } }

/*# sourceMappingURL=select-service.css.map */
