@import "../components/common";
@import "../modals/sign-up";
@import "../jquery-ui";

$page-path: #{$image-path}#{'sign-in/'};

$logo-pc-path: #{$page-path}#{'logo-pc.png'};
$logo-mobile-path: #{$page-path}#{'logo-mobile.png'};

body {
  @media screen and (min-width: 769px) {
    @include background();
    background-image: url($background-image-path);
  }
}

#sign-vertical-align-wrap {
  @media screen and (min-width: 769px) {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
  }
}

#sign-vertical-align {
  @media screen and (min-width: 769px) {
    display: table-cell;
    vertical-align: middle;
  }
}

#sign-wrap {
  background-color: white;
  @media screen and (min-width: 769px) {
    position: relative;
    margin: 0 auto;
    padding: 80px 120px 90px 120px;
    width: 768px;
    height: 800px;
  }
  @media screen and (max-width: 768px) {
    position: relative;
    padding: 84px 24px 24px 24px;
  }
}

.sign-in {
  h1.logo {
    position: relative;
    margin: 0;
    overflow: hidden;
    @include background();
    @media screen and (min-width: 769px) {
      margin-bottom: 200px;
      width: 190px;
      height: 45px;
      background-image: url($logo-pc-path);
    }
    @media screen and (max-width: 768px) {
      display: block;
      margin: 0 auto 100px auto;
      width: 100px;
      height: 50px;
      background-image: url($logo-mobile-path);
    }
    span {
      position: relative;
      display: block;
      margin-top: 3000px;
    }
  }
  p.title {
    font-weight: bold;
    color: black;
    @media screen and (min-width: 769px) {
      margin-bottom: 40px;
      height: 30px;
      line-height: 26px;
      font-size: 26px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 48px;
      height: 23px;
      line-height: 23px;
      font-size: 20px;
    }
  }
  label.label {
    display: block;
    margin: 0;
    font-size: 12px;
    color: #7C7C7C;
    &:nth-of-type(2) {
      margin-top: 16px;
    }
  }
  input[type=text],
  input[type=password] {
    display: block;
    width: 100%;
    border-bottom: 1px solid #818181;
    @media screen and (min-width: 769px) {
      height: 35px;
      line-height: 34px;
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {

      height: 35px;
      line-height: 34px;
      font-size: 16px;
    }
    &:focus {
      border-color: #194595;
      border-bottom-width: 2px;
    }
  }
  #input-id {

  }
  #input-pw {

  }
  div.option-wrap {
    position: relative;
    @include after-clear();
    @media screen and (min-width: 769px) {
      margin-top: 24px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 34px;
    }
    #find-id-pw {
      position: relative;
      padding: 0;
      height: 24px;
      line-height: 24px;
      font-size: 16px;
      font-weight: bold;
      color: #717171;
      float: right;
    }
  }
  label.check-container {
    position: relative;
    display: block;
    padding-left: 32px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #717171;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked {
        & ~ span.check-mark {
          background-color: #2196F3;
          &:after {
            display: block;
          }
        }
      }
    }
    span.check-mark {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #919191;
      border-radius: 2px;
      height: 24px;
      width: 24px;
      background-color: white;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  #sign-in {
    border-radius: 2px;
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #194595;
    @media screen and (min-width: 769px) {
      margin-top: 40px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 32px;
    }
  }
  #open-sign-up {
    position: relative;
    display: block;
    margin: 26px auto 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #135299;
  }
}

.ui-widget-header {
  background-color: white;
  border: 0;
}

.ui-dialog-titlebar {
  display: none;
}

.ui-widget-overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
  background-image: none;
}

.ui-widget.ui-widget-content {
  position: fixed !important;
  border: 0;
  padding: 0;
  overflow: hidden;
  z-index: 200;
}

#lcAlertDialog {
  padding: 32px 24px;
  white-space: pre-wrap;
  text-align: center;
  font-weight: bold;
  min-height: auto !important;
  min-height: initial !important;
}

.ui-dialog .ui-dialog-buttonpane {
  padding: 0;
  border: 0;
  margin: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  outline: none;
  width: 50%;
  height: 56px;
  line-height: 56px;
  background-color: #eee;
}

.ui-dialog .ui-dialog-buttonpane button:first-child:last-child {
  width: 100%;
}

.ui-dialog .ui-dialog-buttonpane button:active {
  background: #ddd;
  color: #2b2b2b;
}