<article id="sendAnalysisWrap" data-ng-controller="SendAnalysisCtrl">
    <div class="section-card margin-top-0" data-ng-include="templatePath + 'search-part.html'"></div>
    <div data-ng-if="senders.length" class="section-card" data-ng-include="templatePath + 'sender-part.html'"></div>
    <div class="section-card" data-ng-include="templatePath + 'result-part.html'"></div>
</article>