<div id="countWrap">
    <p>결과 {{ sendHistories.count | number }}건</p>
    <select-box ng-model="form.size" ng-enum="enumSizes" ng-value-key="value" ng-text-key="text"></select-box>
    <div class="total-check-wrap">
        <check-box class="box" ng-model="check.total" ng-func="totalCheck"></check-box>
        <span>일괄 선택</span>
    </div>
</div>
<div id="rowsWrap">
    <div class="list-wrap">
        <list-header headers="headers" events="events" order-bys="orderBys" is-check="check.total" check-func="totalCheck"></list-header>
        <ul class="list-content">
            <li data-ng-repeat="item in sendHistories.rows">
                <div class="padding-left-0">
                    <check-box class="box" ng-model="item.isCheck" ng-func="checkItem" ng-index="{{ $index }}"></check-box>
                </div>
                <div data-ng-click="goToSingleChart(item)">{{ item.id}}</div>
                <div data-ng-click="goToSingleChart(item)" class="center-wrap">{{ enumMessageManageStates[item.state]}}</div>
                <div data-ng-click="goToSingleChart(item)"><span class="mobile-key-text">발송자 별칭 -</span> {{ item.name }}</div>
                <div data-ng-click="goToSingleChart(item)"><span class="mobile-key-text">제목 -</span> {{ item.title }}</div>
                <div data-ng-click="goToSingleChart(item)" class="center-wrap"><span class="mobile-key-text">발송일 -</span> {{ item.activeDate | toISODate | date: 'yyyy-MM-dd' }}</div>
                <div data-ng-click="goToSingleChart(item)" class="center-wrap"><span class="mobile-key-text">수신자수 -</span> {{ item.receiverCount | number }}</div>
                <div data-ng-click="goToSingleChart(item)" class="center-wrap"><span class="mobile-key-text">발송수 -</span> {{ item.sendCount | number }}</div>
                <div data-ng-click="goToSingleChart(item)" class="center-wrap"><span class="mobile-key-text">열람율 -</span> {{ item.openRate !== null ? (item.openRate | number: 1)+"%" : "-" }}</div>
            </li>
        </ul>
    </div>
    <div class="page-number-wrap" data-ng-if="sendHistories.rows.length">
        <button id="buttonGoToChart" type="button" class="orange" data-ng-click="goToChart()">분석 결과 조회</button>
        <page-number size="form.size"
                     total="sendHistories.count"
                     current-page-string="{{ form.size | returnPage: form.offset }}"
                     func="goPage"></page-number>
    </div>
</div>